<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oversikt LS.ext</title>
</head>

<body>

<div class="container">
    <div class="overview">
        <h1>Oversikt Library System – Extended LS.ext</h1>

        <h2>{{ pillar['overview']['env']['description'] }}</h2>

        <h3>Brukertjenester</h3>

        <ul>
            <li><a href="http://{{ pillar['overview']['koha']['host'] }}:{{ pillar['koha']['opac']['port']|string }}">Kohas OPAC</a></li>
            {% if salt['pillar.get']('overview:redef', 'missing') != 'missing' %}
                <li><a href="http://{{ pillar['overview']['redef']['patron-client']['host']}}:{{ pillar['redef']['patron-client']['port']|string}}">PatronClient</a></li>
            {% endif %}
        </ul>

        <h3>Interne tjenester</h3>

        <ul>
            <li><a href="http://{{ pillar['overview']['koha']['host'] }}:{{ pillar['koha']['intra']['port']|string }}">Kohas Intra</a></li>
            <li><a href="http://{{ pillar['overview']['koha']['host'] }}:{{ pillar['koha']['intra']['plack_port']|string }}">Kohas Intra (Plack)</a></li>
            {% if salt['pillar.get']('overview:redef', 'missing') != 'missing' %}
                <li><a href="http://{{ pillar['overview']['redef']['catalinker']['host'] }}:{{ pillar['redef']['catalinker']['port']|string }}">Catalinker</a></li>
            {% endif %}
        </ul>

        <h3>Driftsverktøy</h3>

        <ul>
            <li><a href="http://{{ pillar['overview']['elk']['host'] }}:{{ pillar['elk']['kibana']['port']|string }}/index.html#/dashboard/file/logstash.json">Kibana</a></li>
            <li><a href="http://{{ pillar['overview']['resource-monitoring']['graphite-web']['host'] }}:{{ pillar['resource-monitoring']['graphite-web']['port']|string }}">Graphite</a></li>
            <li><a href="http://{{ pillar['overview']['dockerui']['host'] }}:{{ pillar['dockerui']['port']|string }}">DockerUI</a></li>
        </ul>

        <h3>Tekniske grensesnitt</h3>

        <ul>
            {% if salt['pillar.get']('overview:redef', 'missing') != 'missing' %}
                <li><a href="http://{{ pillar['redef']['services']['host'] }}:{{ pillar['redef']['services']['port']|string }}/work">Services</a></li>
                <li><a href="http://{{ pillar['redef']['fuseki']['host'] }}:{{ pillar['redef']['fuseki']['port']|string }}">Fuseki</a></li>
                <li><a href="http://{{ pillar['redef']['elasticsearch']['host'] }}:{{ pillar['redef']['elasticsearch']['http']['port']|string }}/?pretty">Elasticsearch</a></li>
            {% endif %}
        </ul>

    </div>
</div><!-- /container -->

</body>

</html>
