Kjetil JD <kjetiljd@kodemaker.no> <github@akafred.com>
<benjamin.rokseth@kul.oslo.kommune.no> <bensinober@gmail.com>
Petter Goksøyr Åsen <petter.goksoyr.asen@kul.oslo.kommune.no> <boutrosboutrosboutros@gmail.com>
Rurik Greenall <rurik.greenall@computas.no> <rurik.greenall@gmail.com>
Asgeir Rekkavik <asgeir.rekkavik@kul.oslo.kommune.no> <arekkavik@gmail.com>
<sbd@computas.no> <sbd@computas.com>
<sbd@computas.no> <stigbd@gmail.com>
<sbd@computas.no> <stig.dormanen@kul.oslo.kommune.no>
Arve Soreide <arve.soreide@kul.oslo.kommune.no> <arvesoreide@hotmail.com>
Magnus Enger <magnus@enger.priv.no>
Jørn Are Hatlelid <jorn.are.hatlelid@computas.no> <jorn.are.hatlelid@kul.oslo.kommune.no>
