<div id="additional-suggestions-dialog">
    {{#with additionalSuggestionsDialog}}
    <p>{{>useValuesFromTheseFields}}</p>
    <ul>
        {{#each sources}}
        <li>{{.}}</li>
        {{/each}}
    </ul>
    <p>{{>andFillTheEmptyFields}}</p>
    <ul>
        {{#each targets}}
        <li>{{.}}</li>
        {{/each}}
    </ul>
    {{#if warnWhenCopyingSubset && incompleteSuggestions.length > 0 }}
        <div class="allow-partial-checkbox"><input type="checkbox" checked="{{allowPartialSuggestions}}"></div>
        <p class="warn-when-partial-suggestions">{{warnWhenCopyingSubset.message}}</p>
    {{/if}}
    {{>additionalSuggestionsLegend}}
    {{/with}}
</div>
