{{#deleteResourceDialog}}
<div id="delete-resource-dialog" title="{{>deleteAuthorityDialogTitle}}">
    {{#if !error}}
        {{#if ! deleted}}
            <h3>{{>deleteAuthorityLegend}}</h3>
            {{#references}}
            <span class="ui-icon ui-icon-alert"/>
            <strong>{{>authorityNumberOfReferences {references}}}</strong>
            {{/}}
            <p>{{>confirmDeleteAuthority}}</p>
            <p><b>{{title}}</b></p>
        {{else}}
            <p>{{>authorityDeleted}}</p>
        {{/if}}
    {{/if}}
    {{#error}}
            <h3>{{>deleteAuthorityFailed}}</h3>
            {{#with message}}
                <p>{{.}}</p>
            {{/with}}
    {{/}}
</div>
{{/deleteWorkDialog}}
