{{#deletePublicationDialog}}
<div id="delete-publication-dialog" title="{{>deletePublicationDialogTitle}}">
    {{#if !error}}
        {{#if ! deleted}}
            <h3>{{>confirmDeletePublication}}</h3>
            <p>{{>confirmDeletePublicationDetail}}</p>
            <p><b>{{title}}</b> {{>by}} <b>{{creator}}</b></p>
        {{else}}
            <p>{{>publicationDeleted {title, work}}}</p>
        {{/if}}
    {{/if}}
    {{#error}}
            <h3>{{>deletePublicationFailed}}</h3>
            {{#itemsLeft}}
            <p>{{>itemsLeftMessage {numberOfItemsLeft}}} </p>

            <p>{{>gotoKohaForDeleteLink}}
            </p>
            {{/itemsLeft}}
            {{#with message}}
                <p>{{.}}</p>
            {{/with}}
    {{/}}
</div>
{{/deletePublicationDialog}}
