{{#deleteWorkDialog}}
<div id="delete-work-dialog" title="{{>deleteWorkDialogTitle}}">
    {{#if references > 0}}
    <span data-automation-id="undeleteable-work">
        {{>cannotDeleteWorkForReferences {references}}}
        {{>relations}}
    </span>
    {{else}}
    {{#if !error}}
        {{#if ! deleted}}
            <h3>{{>confirmDeleteWork}}</h3>
            <p>{{>confirmDeleteWorkDetail}}</p>
            <p><b>{{title}}</b> {{>by}} <b>{{creator}}</b></p>
        {{else}}
            <p>{{>workDeleted {title}}}</p>
        {{/if}}
    {{/if}}
    {{#error}}
            <h3>{{>workDeleteFailed}}</h3>
            {{#publicationsLeft}}
                <p>{{>workDeleteFailedPublicationsLeft {numberOfPublicationsLeft}}}</p>
            {{/publicationsLeft}}
            {{#with message}}
                <p>{{.}}</p>
            {{/with}}
    {{/}}
    {{/if}}
</div>
{{/deleteWorkDialog}}
