{{#if nonEditable === true}}
<span data-automation-id="{{../../dataAutomationId}}">{{./current.value}}</span>
{{else}}
<input {{#disabled}} disabled="true" {{/}}
tabindex="{{tabSelected || popupForm ? '0' : '-1'}}"
class="pure-u-1-1"
class-invalid-input="{{error}}"
class-valid="{{!error}}"
on-blur='patchResource:{{predicate}},{{rdfType}},{{editAuthorityMode}}'
data-automation-id="{{../../dataAutomationId}}"
as-formatter="format: {{../../formatter}}"
value="{{./current.value}}" /><span class="save-placeholder"></span>
{{/if}}
