{{#if (!(this.visible === false) && !resourceIsLoaded(showOnlyWhenEmpty) && (checkShouldInclude(.)))}}
<span class="input-panel pure-u-1-1 prop-input" intro='slideIn' outro='slideOut'>
<span class-for-one-liner="{{type === 'input-boolean' || oneLiner}}"
      class-panel-part="{{type === 'input-boolean' || oneLiner}}"
      class-pure-u-1-2="{{type === 'input-boolean' || oneLiner}}"
      class-first="{{firstAndLastVisibleInputs[groupIndex].first === inputIndex}}"
      class-last-one="{{firstAndLastVisibleInputs[groupIndex].last === inputIndex}}">
<span class="{{#if (type != 'input-boolean' && !oneLiner)}}pure-u-1-{{./accordionHeader ? '1' : '2'}}{{/if}} label"
      class-for-one-liner="{{oneLiner == true || type == 'input-boolean'}}"
      class-panel-part="{{type !== 'input-boolean' && !oneLiner}}"
      class-first="{{firstAndLastVisibleInputs[groupIndex].first === inputIndex}}"
        data-uri-escaped-label="{{encodeURI(label)}}">{{label}}
</span>
<span class-panel-part="{{type != 'input-boolean' && !oneLiner}}"
      class-pure-u-1-1="{{type != 'input-boolean' && !oneLiner && ./accordionHeader}}"
      class-pure-u-1-2="{{type != 'input-boolean' && !oneLiner && !./accordionHeader}}"
      class-one-liner="{{type === 'input-boolean' || oneLiner}}"
      class-last-one="{{firstAndLastVisibleInputs[groupIndex].last === inputIndex}}"
      intro={{./accordionHeader && subInputs ? 'accordion' : ''}}>
        {{#each values:inputValueIndex}}
            {{#if (!suggested || (suggested && primarySuggestionAccepted))}}
                <span class="input">
                    <span class="field" class-pure-u-1-1="{{type != 'input-boolean' && !oneLiner}}" data-support-panel-base-id="support_panel_base_{{uniqueId}}">
                        {{>(readOnly ? "readonly-" : "") + type}}
                        <div class="invalid-msg">{{#error}}{{error}}{{/error}}</div>
                    </span>
                    <span class="support-panel" data-support-panel-base-ref="support_panel_base_{{uniqueId}}">
                        {{>"support-for-"+type}}
                    </span>
                </span>
            {{/if}}
        {{/each}}
        {{#with values[0]}}
            {{>suggested-values}}
        {{/with}}

    {{#if subInputs}}
    {{#if unacceptedSuggestions(.)}}
    <div class="pure-u-1-1 label" style="order: 99;">
        Forslag fra andre eksterne kilder
    </div>
    {{/if}}
    {{#if !./unFinished}}
    {{#each subInputs[0].input.values:inputValueIndex}}
        {{#if nonEditable && ../../../../../accordionHeader}}
        <h3 tabindex="{{tabSelected || popupForm ? '0' : '-1'}}" class="accordionHeader" style="order: {{valueOrderOfInputById(../../../../../orderBy, inputValueIndex) * 2 || inputValueIndex + ((suggested || keepOrder) ? 100 : 0)}};" intro=accordionSection>
            {{#with ../../../../../accordionHeader}}
            {{>"accordion-header-for-"+. }}
            {{/with}}
        </h3>
        {{/if}}
        <div style="order: {{nonEditable ? valueOrderOfInputById(../../../../../orderBy, inputValueIndex) * 2 + 1 : 100}};" class="pure-u-1-{{accordionHeader && !nonEditable ? 2 : 1}} field {{#if cssClassPrefix && !suggested}}{{cssClassPrefix}}-{{nonEditable ? 'non-' :''}}editable{{/if}} {{#if cssClassPrefix && suggested}}{{cssClassPrefix}}-{{/if}}{{#if suggested}}suggested{{/if}}"
              {{#if nonEditable}}disabled="disabled" {{/if}}  {{#if nonEditable && ../../../../../accordionHeader}}intro=accordionSection{{/if}}>
            {{#if nonEditable && !suggested}}
            <a class="delete" title="Slett oppføring"
               on-click="deleteObject:{{../../../input.parentInput}},{{inputValueIndex}}"></a>
            <a class="edit" title="Rediger oppføring"
               on-click="editObject:{{../../../input.parentInput}},{{inputValueIndex}}"></a>
            {{/if}}
            <span class="input-wrapper">
                <span class="inputs">
                    {{#each ../../../../../subInputs}}
                        {{#if !(./input.visible === false)}}
                            <span class="input {{#if !nonEditable && ! suggested}}pure-u-{{input.widgetOptions.isRangeStart ? '1-4' : (input.widgetOptions.isRangeEnd ? '3-4' : '1-1')}}{{/if}} {{#if input.widgetOptions.isRangeStart}}rangeStart{{/if}}{{#if input.widgetOptions.isRangeEnd}}rangeEnd{{/if}}">
                                <span class="label"
                                      class-pure-u-1-1="{{!nonEditable && !suggested}}"
                                      class-for-one-liner="{{input.type === 'input-boolean' || oneLiner == true}}"
                                      data-uri-escaped-label="{{encodeURI(label)}}">{{label}}</span>
                                {{#with input.values[inputValueIndex]}}
                                    <span class="value sub-field" data-support-panel-base-id="support_panel_base_{{./uniqueId}}">
                                        {{>../../../input.type}}
                                        {{#if ! nonEditable }}
                                            {{>suggested-values}}
                                        {{/if}}
                                    </span>
                                    {{#if ! nonEditable && !suggested}}
                                        <span class="support-panel"
                                              data-support-panel-base-ref="support_panel_base_{{./uniqueId}}">
                                            {{#with ../../../input}}
                                                {{>"support-for-"+type}}
                                            {{/with}}
                                        </span>
                                    {{/if}}
                                {{/with}}
                                <span class="invalid-msg" class-pure-u-1-1="{{!nonEditable && !suggested}}">{{#error}}{{error}}{{/error}}</span>
                            </span>
                        {{/if}}
                    {{/each}}
                </span>
                <span class="subject-type-association">
                    <span class-pure-u-1-1="{{!nonEditable && !suggested}}">
                        {{#with ../../../parentInput}}
                            {{#if ! nonEditable && ! (suggested && multiple)}}
                                {{#each subjectTypes:index}}
                                {{#with subInputs[0].input.values[inputValueIndex]}}
                                    {{#if (subjectTypes.length > 1)}}
                                    <span class="subject-type-select">
                                        <input tabindex="{{tabSelected ? '0' : '-1'}}"type="radio" name="{{inputGroups[groupIndex].inputs[0].subInputs[0].input.values[inputValueIndex].subjectType}}" value="{{subjectTypes[index]}}"
                                               {{# !targetUri[../../../../../../../subjectTypes[index]]}}title='Denne knytningen kan ikke velges før tilhørende ressurstype er lastet'
                                               disabled='disabled' {{/}}/>
                                        <label tabindex="-1">{{subjectTypeLabel(subjectTypes[index])}}</label>
                                    </span>
                                {{/if}}
                                {{/with}}
                                {{/each}}
                            {{/if}}
                        {{/with}}
                        {{#if ./nonEditable || ./suggested}}
                                {{subjectTypeLabelDet(subjectType)}}
                        {{else}}
                        <button class="pure-button pure-button-primary add-item-button"
                                tabindex="{{tabSelected || popupForm ? '0' : '-1'}}"
                                {{#if typeof ./subjectType === 'undefined' || ../../values.length == 0 || (!resourceIsLoaded(./subjectType)) || inputGroupRequiredVetoes[inputValueIndex].length > 0}}disabled
                          title="Kan ikke legge til før {{subjectTypeLabelDet(subjectType)}} er opprettet eller lastet. Påkrevde felter må være utfylt eller ha valgt autoritet/fast verdi."{{/if}}
                        {{#if edit}}
                           on-click="replaceObject:{{inputValueIndex}}"
                        {{else}}
                           on-click="saveNewObject:{{inputValueIndex}}"
                        {{/if}}
                        >
                        {{#if edit}}Lagre{{else}}Legg til{{/if}}
                        </button>
                        <span class="save-placeholder"></span>
                        {{/if}}
                    </span>
                </span>
                {{#if suggested}}
                <div class="pure-u-1-1 suggestion-source-{{suggested.source}}">
                   <span class="pure-u-4-6"></span>
                    <span class="pure-u-2-6 use-suggestion-button">
                        <button
                                tabindex="{{tabSelected || popupForm ? '0' : '-1'}}"
                                on-click="useSuggestion"
                                class="pure-button pure-button-primary">Bruk forslag</button>
                    </span>
                </div>
                {{/if}}
            </div>
{{/each}}
{{/if}}
{{/if}}
{{#multiple && allowAddNewButton}}
    <span class="pure-u-1-1" style="order: 1000;">
        <div class="add-new-btn-row">
            <div class="pure-u-1-12"> </div>
            <button
                    tabindex="{{tabSelected || popupForm ? '0' : '-1'}}"
                    class="pure-button pure-button-primary"
                    on-click="addValue"
                    on-keyup="addValue">{{addAnotherLabel || 'Legg til ny'}}</button>
        </div>
    </span>
{{/}}
</span>
{{/if}}