{{#if nonEditable === true}}
<span data-automation-id="{{../../dataAutomationId}}">{{./current.value}}</span>
{{else}}
{{#if multiline}}
<textarea {{#disabled}} disabled="true" {{/}}
rows={{input.widgetOptions.enableBulkEntry.rows || 4}}
tabindex="{{tabSelected || popupForm ? '0' : '-1'}}"
class="pure-u-1-1"
class-invalid-input="{{error}}"
class-valid="{{!error}}"
data-automation-id="{{../../dataAutomationId}}"
value="{{./current.value}}" />
{{else}}
{{#copiedFromType}}
<span class="explainable copied-from" title="{{>copiedFromLegend}}">
    <span class="ui-icon ui-icon-info"/>
    {{>copiedFrom}}
</span>
{{/}}
<input {{#disabled}} disabled="true" {{/}}
tabindex="{{tabSelected || popupForm ? '0' : '-1'}}"
class="pure-u-1-1 string{{#if ./current.accepted}} suggestion-source suggestion-source-{{./current.accepted.source}}{{/if}}"
class-invalid-input="{{error}}"
class-valid="{{!error}}"
on-blur='patchResource:{{predicate}},{{rdfType}},{{supportAuthorityComparison}}'
data-automation-id="{{../../dataAutomationId}}"
as-formatter="format: {{../../formatter}}"
{{#if autoNumber}}
disabled="disabled"
{{/if}}
value="{{./current.value}}" />
{{/if}}
<span class="save-placeholder"></span>
{{#if input.widgetOptions.enableBulkEntry && !multiline}}
<a class="open-bulk-edit" on-click="openBulkEdit:{{valueIndex}}" title="{{>bulkEntryLinkToolTip}}">{{>bulkEntryLinkLabel}}</a>
{{/if}}
{{#if showAutonumber}}
    <span class="pure-u-1">
        <span class="pure-u-3-4 label for-one-liner">{{>autoNumber}}</span>
        <span class="sub-field"><input type="checkbox" checked="{{autoNumber}}"/></span>
    </span>
{{/if}}
{{/if}}
