<span class="input-panel pure-u-1-1 prop-input" decorator="repositionSupportPanel" {{#if
     resourceIsLoaded(showOnlyWhenEmpty) }} style="display:none;" {{/if}}>
<span {{#if (type == 'input-boolean')}}class='panel-part pure-u-1-2 for-checkbox'{{/if}}>
<span class="{{#if (type != 'input-boolean')}}pure-u-1-{{./accordionHeader ? '1' : '2'}}{{else}}pure-u-2-3{{/if}} label {{firstInGroup ? 'first':''}} {{(type == 'input-boolean') ? 'for-checkbox' : 'panel-part'}}"
     data-uri-escaped-label="{{encodeURI(label)}}">{{label}}
</span>
<span class="{{#if type != 'input-boolean'}}panel-part pure-u-1-{{./accordionHeader ? '1' : '2'}}{{else}}checkbox{{/if}} {{lastInGroup ? 'last':''}}" intro={{./accordionHeader && subInputs ? 'accordion' : ''}}>
        {{#each values:inputValueIndex}}
        <span class="field {{#if (type != 'input-boosslean')}}pure-u-1-1{{/if}}" id="support_panel_base_{{uniqueId}}">
            {{>type}}
            {{#predicate === (config.ontologyUri + "#recordID") && current.value !== ""}}
            <a data-automation-id="biblio_record_link" target="_blank"
               href="{{config.kohaIntraUri}}/cgi-bin/koha/catalogue/detail.pl?biblionumber={{current.value}}"
               class="link"></a>
            {{/}}
            {{#predicate === (config.ontologyUri + "#publicationOf") && current.value !== ""}}
            <a data-automation-id="work_page_link" target="_blank" href="{{current.value.replace(':8005',':8000')}}"
               class="link"></a>
            {{/}}
            <div class="invalid-msg">{{#error}}{{error}}{{/error}}</div>
        </span>
        {{#inputValueIndex == values.length -1}}
        <span class="support-panel" data-support-panel-base-ref="support_panel_base_{{uniqueId}}">
            {{>"support-for-"+type}}
        </span>
        {{/}}
        {{/each}}
        {{#with values[0]}}
            <span class="pure-u-1-1 field">
                {{>suggested-values}}
            </span>
        {{/with}}

    {{#if subInputs}}
    {{#if unacceptedSuggestions(.)}}
    <div class="pure-u-1-1 label" style="order: 99;">
        Forslag fra andre eksterne kilder
    </div>
    {{/if}}
    {{#each subInputs[0].input.values:inputValueIndex}}
    {{#if nonEditable && ../../../../../accordionHeader}}
    <h3 class="accordionHeader" style="order: {{valueOrderOfInputById(../../../../../orderBy, inputValueIndex) * 2 || inputValueIndex + ((suggested || keepOrder) ? 100 : 0)}};" intro=accordionSection>
        {{#with ../../../../../accordionHeader}}
        {{>"accordion-header-for-"+. }}
        {{/with}}
    </h3>
    {{/if}}
        <div style="order: {{nonEditable ? valueOrderOfInputById(../../../../../orderBy, inputValueIndex) * 2 + 1 : 100}};" class="pure-u-1-{{accordionHeader && !nonEditable ? 2 : 1}} field {{#if cssClassPrefix && !suggested}}{{cssClassPrefix}}-{{nonEditable ? 'non-' :''}}editable{{/if}} {{#if cssClassPrefix && suggested}}{{cssClassPrefix}}-{{/if}}{{#if suggested}}suggested{{/if}}"
              {{#if nonEditable}}disabled="disabled" {{/if}}  {{#if nonEditable && ../../../../../accordionHeader}}intro=accordionSection{{/if}}>
            {{#if nonEditable && !suggested}}
            <a class="delete" title="Slett oppføring"
               on-click="deleteObject:{{../../../input.parentInput}},{{inputValueIndex}}" onclick="main.$(this).closest('.ui-accordion-content').prev().remove();main.$(this).closest('.ui-accordion-content').remove()"></a>
            {{/if}}
            <span class="input-wrapper">
                <span class="inputs">
                    {{#each ../../../../../subInputs}}
                        <span class="input {{#if !nonEditable && ! suggested}}pure-u-{{input.widgetOptions.isRangeStart ? '1-4' : (input.widgetOptions.isRangeEnd ? '3-4' : '1-1')}}{{/if}} {{#if input.widgetOptions.isRangeStart}}rangeStart{{/if}}{{#if input.widgetOptions.isRangeEnd}}rangeEnd{{/if}}">
                            <span class="label {{#if !nonEditable && !suggested}}pure-u-1-1{{/if}} {{#if input.type === 'input-boolean'}}for-checkbox{{/if}}"
                                  data-uri-escaped-label="{{encodeURI(label)}}">{{label}}</span>
                            {{#with input.values[inputValueIndex]}}
                                <span class="value sub-field" id="support_panel_base_{{uniqueId}}">
                                    {{>../../../input.type}}
                                    {{#if ! nonEditable }}
                                        {{>suggested-values}}
                                    {{/if}}
                                </span>
                                {{#if ! nonEditable && !suggested}}
                                    <span class="support-panel"
                                          data-support-panel-base-ref="support_panel_base_{{uniqueId}}">
                                        {{#with ../../../input}}
                                        {{>"support-for-"+type}}
                                        {{/with}}
                                    </span>
                                {{/if}}
                            {{/with}}
                            <span class="invalid-msg {{#if !nonEditable && ! suggested}}pure-u-1-1{{/if}}">{{#error}}{{error}}{{/error}}</span>
                        </span>
                    {{/each}}
                </span>
                <span class="subject-type-association">
                    <span class="{{#if !nonEditable && ! suggested}}pure-u-1-1{{/if}}">
                        {{#with ../../../parentInput}}
                            {{#if ! nonEditable && ! (suggested && multiple)}}
                                {{#each subjectTypes:index}}
                                {{#with ./subInputs[0].input.values[inputValueIndex]}}
                                    {{#if (subjectTypes.length > 1)}}
                                    <span class="subject-type-select">
                                        <input type="radio" name="{{inputGroups[groupIndex].inputs[0].subInputs[0].input.values[inputValueIndex].subjectType}}" value="{{subjectTypes[index]}}"
                                               {{# false && !targetUri[.]}}title='Denne knytningen kan ikke velges før tilhørende ressurstype er lastet'
                                               disabled='disabled' {{/}}/>
                                        <label>{{subjectTypeLabel(subjectTypes[index])}}</label>
                                    </span>
                                {{/if}}
                                {{/with}}
                                {{/each}}
                                <span>
                                    <button tabindex="0" class="pure-button pure-button-primary add-item-button"
                                       {{#if typeof subjectType=== 'undefined' || values.length == 0 || (!resourceIsLoaded(subjectType)) || ../../../inputGroupRequiredVetoes[inputValueIndex].length > 0}}disabled
                                      title="Kan ikke legge til før {{subjectTypeLabelDet(subjectType)}} er opprettet eller lastet. Påkrevde felter må være utfylt eller ha valgt autoritet/fast verdi."{{/if}}
                                       on-click="saveObject:{{inputValueIndex}}" on-keyup="saveObject:{{inputValueIndex}}">Legg til</button>
                                </span>
                            {{/if}}
                        {{/with}}

                        {{#if nonEditable || suggested}}
                            {{subjectTypeLabelDet(subjectType)}}
                        {{/if}}
                    </span>
                </span>
                {{#if suggested}}
                <div class="pure-u-1-1 suggestion-source-{{suggested.source}}">
                   <span class="pure-u-4-6"></span>
                    <span class="pure-u-2-6 use-suggestion-button">
                        <button tabindex="0" on-click="useSuggestion" class="pure-button pure-button-primary">Bruk forslag</button>
                    </span>
                </div>
                {{/if}}
            </div>
{{/each}}
{{/if}}
{{#multiple && allowAddNewButton}}
    <span class="pure-u-1-1" style="order: 1000;">
        <div class="add-new-btn-row">
            <div class="pure-u-1-12"> </div>
            <button tabindex="0" class="pure-button pure-button-primary" on-click="addValue" on-keyup="addValue">{{addAnotherLabel || 'Legg til ny'}}</button>
        </div>
    </span>
{{/}}
</span>
