{{#if nonEditable}}
<span data-automation-id="{{../../dataAutomationId}}" class="boolean-value"><span class="{{./current.value === true ? 'ui-icon ui-icon-check' : ''}}"></span></span>
{{else}}
<input type="checkbox" {{#disabled}} disabled="true" {{/}}
tabindex="{{tabSelected || popupForm ? '0' : '-1'}}"
class="pure-u-1-1"
class-invalid-input="{{error}}"
class-valid="{{!error}}"
on-change='patchResource:{{predicate}},{{rdfType}}'
data-automation-id="{{../../dataAutomationId}}"
checked="{{./current.value}}" /><span class="save-placeholder"></span>
{{/if}}
