<div class="pure-g links">
    {{#targetUri.Work}}
    <div class="pure-u-1">
        <a tabindex="0" data-automation-id="work_page_link" target="_blank"
           href="{{'http://elag.deichman.no:8000/work' + targetUri.Work.substring(targetUri.Work.lastIndexOf('/'))}}">{{>showWorkPageLink}}</a>
    </div>
    <div class="pure-u-1">
        <a tabindex="0" data-automation-id="show_work_rdf" on-click="showRdf:{{targetUri.Work}}" on-enter="showRdf:{{targetUri.Work}}">{{>showTURTLEForWorkLink}}</a>
    </div>
    {{/}}
    {{#targetUri.Publication}}
    <div class="pure-u-1">
        <a tabindex="0" data-automation-id="biblio_record_link" target="_blank"
           href="http://elag.deichman.no:8081/cgi-bin/koha/catalogue/detail.pl?biblionumber={{publicationId()}}"
           class="link">{{>showPublicationInKohaLink}}</a>
    </div>
    <div class="pure-u-1">
        <div class="pure-u-1">
            <a tabindex="0" data-automation-id="show_work_rdf" on-click="showReport:{{targetUri.Publication}}" on-enter="showReport:{{targetUri.Publication}}">{{>showSummaryLink}}</a>
        </div>
    </div>
    {{/}}
</div>
