{{#if (!resourceIsLoaded(showOnlyWhenEmpty) && (checkShouldInclude(.)))}}
<span class="pure-u-1-1" intro='slideIn'>
    <span class="pure-g">
        {{#if ! reportFormat.topLevel}}
            <span class="pure-u-1-2 label" data-uri-escaped-label="{{encodeURI(label)}}">{{#if labelKey}}{{>labelKey}}{{else}}{{label}}{{/if}}</span>
        {{/if}}
        <span class-pure-u-1-1="{{reportFormat.topLevel}}" class-pure-u-1-2="{{!reportFormat.topLevel}}" class="multi-value">
                {{#each values:inputValueIndex}}
                    <span class="value" class-separate-lines="{{reportFormat.separateLines}}">
                        {{>"readonly-" + type}}
                    </span>
                {{/each}}
                {{#if subInputs}}
                    <span class-pure-g="{{!reportFormat.list}}">
                        {{#each subInputs[0].input.values:inputValueIndex}}
                        <span class-compound="{{reportFormat.topLevel}}">
                        {{#if ./nonEditable}}
                                    {{#if reportFormat.list}}
                                        <span class="pure-u-1-1 value-list">
                                            {{#each ../../../../../subInputs}}
                                                        {{#with input.values[inputValueIndex]}}
                                                            {{#if current.value}}
                                                            <span class="list-value">
                                                                {{>"readonly-" + ../../../input.type}}
                                                            </span>
                                                            {{/if}}
                                                        {{/with}}
                                            {{/each}}
                                    {{#if subjectTypes.length > 1}}
                                            <span class="subject-type-association list-value">
                                                            {{subjectTypeLabelDet(subjectType)}}
                                            </span>
                                    {{/if}}
                                        </span>
                                    {{else}}
                                    {{#each ../../../../../subInputs}}
                                                <span class="pure-u-1-2 label"
                                                      data-uri-escaped-label="{{encodeURI(input.label)}}">{{#if input.widgetOptions.reportLabel}}{{>input.widgetOptions.reportLabel}}{{else}}{{input.label}}{{/if}}</span>
                                                {{#with input.values[inputValueIndex]}}
                                                    <span class="pure-u-1-2">
                                                        {{>"readonly-" + ../../../input.type}}
                                                    </span>
                                                {{/with}}
                                    {{/each}}
                                    {{#if subjectTypes.length > 1}}
                                    <span class="subject-type-association pure-u-1-1">
                                                    {{subjectTypeLabelDet(subjectType)}}
                                    </span>
                                    {{/if}}
                                    {{/if}}
                        {{/if}}
                        </span>
                        {{/each}}
                    </span>
                {{/if}}
        </span>
    </span>
</span>
{{/if}}