<div class="relations pure-u-1" as-relations="./uri">
{{#if ./relations.length > 0}}
    <ul >
        {{#each ./relations:typeIndex}}
        <div class="type">
            <span class="type-label pure-u-11-12" title="{{relationshipType}}">
                {{#if relationships[0].isRole}}
                    {{>inverseRoleRelation applicationData.allLabels[relationshipType] as role, typeFromUri(../../uri) as subjectType}}
                {{else}}
                    {{>relationshipType + '_inverse' typeFromUri(../../uri) as subjectType}}
                {{/if}}</span>
            <a id="sub-item-{{itemIndex}}-{{typeIndex}}"
               data-next-sub-item="sub-item-{{itemIndex}}-{{(typeIndex + 1)}}"
               data-prev-sub-item="sub-item-{{itemIndex}}-{{(typeIndex - 1)}}"
               class="toggle-show-sub-items"
               on-click="toggleRelations"
               on-enter="toggleRelations"
               on-downarrow="focusNextSubItem"
               on-uparrow="focusPrevSubItem:{{itemIndex}},{{typeIndex}}"
               tabindex="-1"
               class-turn="{{this.toggleRelations}}"
            >&#x25BC;</a>
        </div>
        {{#this.toggleRelations}}
        <li >
            <ul >
                {{#each relationships:subItemIndex}}
                <li class="rel-entry">
                    {{# widgetOptions.showSelectItem && .isMainEntry}}
                    <span class="search-result-work-selector">
                                        <input id="sub-item-{{itemIndex}}-{{typeIndex}}-{{(subItemIndex)}}"
                                               data-next-sub-item="sub-item-{{itemIndex}}-{{typeIndex}}-{{(subItemIndex + 1)}}"
                                               data-prev-sub-item="sub-item-{{itemIndex}}-{{typeIndex}}-{{(subItemIndex - 1)}}"
                                               class="select-work-radio" type="radio" checked="{{isChecked}}"
                                               on-click="selectSearchableItem:{{targetUri}},{{origin}},{{items[itemIndex].name}},{subItem: true}"
                                               on-enter="selectSearchableItem:{{targetUri}},{{origin}},{{items[itemIndex].name}},{subItem: true}"
                                               on-downarrow="focusNextSubItem"
                                               on-uparrow="focusPrevSubItem:{{itemIndex}},{{typeIndex}},{{subItemIndex}}"
                                               title="{{>selectWorkLabel}}"
                                        />
                                    </span>
                    {{/}}
                    {{#if config.search[config.rdfTypeToIndexType[targetType]].linkFromUri}}
                    <a class="pure-u-1-1"
                       href="{{getLinkfromUri({uri: .targetUri}, config.search[config.rdfTypeToIndexType[targetType]].linkFromUri)}}"
                       target="_blank"
                       title="{{config.search[targetType].linkFromUri.toolTip}}">
                        {{getSearchResultItemLabel(., config.relationTargetLabels[targetType], @keypath)}}
                        {{#targetType && relationships[0].isRole}}<span class="work-type" >({{>(targetType+'Label')}})</span >{{/}}
                    </a >
                    {{else}}
                    <span class="pure-u-1-1" >
                        {{getSearchResultItemLabel(., config.relationTargetLabels[targetType], @keypath)}}
                        {{#targetType && relationships[0].isRole}}<span class="work-type" >({{>(targetType+'Label')}})</span >{{/}}
                    </span >
                    {{/if}}
                </li >
                {{/each}}
            </ul >
        </li >
        {{/toggleRelations}}
        {{/each}}
    </ul >
{{/if}}
{{#if ./relations.length === 0}}
    <div>{{>noRelations}}</div>
{{/if}}
</div >
