<input autofocus {{#disabled}} disabled="true" {{/}}
class="pure-u-1-1 {{#error}}invalid-input{{else}}valid{{/error}} simple-searchable"
on-enter='fetchValueSuggestions'
data-automation-id="{{dataAutomationId}}"
value="{{current.value}}"
{{#if searchForValueSuggestions.hitsFromPreferredSource}} disabled=disabled{{/if}}/>
<span class="legend">
    {{#current.value}}
    <span class="advanced-search-legend"><span class="ui-icon ui-icon-info"/>Trykk Enter for å søke.</span>
    {{/}}
</span>
<div class="external-source-results">
    {{#each searchForValueSuggestions.hitsFromPreferredSource}}
    <span intro="slideIn">
        <div class="external-source">
            Treff i ekstern kilde - {{../../preferredSource.name}}
        </div>
        <ul>
            {{#each items}}
            <li class="external-hit">
                <span>
                    <div class="main-line">{{main}}</div>
                    <div class="details-line">{{details}}</div>
                </span>
                <button {{#if primarySuggestionAccepted}}disabled title="Forslag fra ekstern hovedkilde er allerede hentet inn"{{else}} title="Bruk verdiene fra denne"{{/if}} class="pure-button pure-button-primary" on-click="acceptExternalItem:{{input}}">Bruk forslag</button>
            </li>
            {{/each}}
        </ul>
    </span>
    {{/each}}
</div>
