<span data-automation-id="{{../../dataAutomationId}}">
    {{#if nonEditable}}
    <span>{{authorityLabels[urlEscape(current.value[0])]}}</span>
    {{else}}
            <select style="width: 100%;"
                    as-select2="{mode: 'authoritySelectSingle'}"
                    as-tabIndex="{{tabSelected}}"
                    id="sel_{{uniqueId}}"
                    class="searchable-authority" multiple value="{{current.value}}">
        {{#if ./current.value}}
        <option value='{{current.value}}' selected="selected">{{current.displayValue}}</option>
        {{/if}}
    </select>
    {{/if}}
</span>
