<span data-automation-id="{{../../dataAutomationId}}" {{#if ! nonEditable && !suggested}}class="pure-u-1-1" {{/if}}>
{{#if nonEditable || suggested}}
<span>{{predefinedLabelValue(../../fragment, ./current.value[0])}}</span>
{{else}}
<select
        class="authorized" style="width: 100%;"
        decorator="multi:{select2:[{{#!multiple}}'singleSelect'{{/multiple}}], detectChange:[], handleAddNewBySelect2:[]}"
        value="{{./current.value}}"
        data-automation-id="{{dataAutomationId}}"
        multiple>
    {{#each predefinedValues[../../fragment]}}
    <option value='{{.["@id"]}}'>{{getRdfsLabelValue(.["rdfs:label"])}}</option>
    {{/each}}
</select>
{{>suggested-values}}
{{/if}}
</span>
