<span data-automation-id="{{../../dataAutomationId}}" class-pure-u-1-1="{{! nonEditable && !suggested}}">
{{#if nonEditable || suggested}}
<span style-display="{{!nonEditable ? 'none' : ''}}">{{predefinedLabelValue(../../fragment, ./current.value[0])}}</span>
{{else}}
<span style-display="{{nonEditable ? 'none' : ''}}">
    <select
            as-tabIndex="{{tabSelected}}"
            class="authorized" style="width: 100%;"
            {{#if !multiple || ../../isSubInput}}
                as-select2="{mode: 'singleSelect'}"
            {{elseif multiple}}
                as-select2="{mode: 'multiSelect'}"
            {{else}}
                as-select2="{mode: 'singleSelect'}"
            {{/if}}
            as-handleAddNewBySelect2
            value="{{./current.value}}"
            data-automation-id="{{dataAutomationId || ../../dataAutomationId}}"
            multiple="multiple"
            {{#if ./current.accepted.source}}data-accepted-source="{{./current.accepted.source}}"{{/if}}>
        {{#each predefinedValues[../../fragment]}}
        <option value='{{.["@id"]}}'>{{getRdfsLabelValue(.["label"])}}</option>
        {{/each}}
    </select>
</span>
{{/if}}
</span>
