<div class="work-name pure-u-22-24">
    <span class="pure-u-1-1">
        {{#mainTitle}}<span class="main-title">{{mainTitle}}</span>{{/}}
        {{#subtitle}}<span class="sub-title">{{subtitle}}</span>{{/}}
        {{#partNumber}}<span class="part-number">{{partNumber}}</span>{{/}}
        {{#partNumber}}<span class="part-title">{{partTitle}}</span>{{/}}
        {{#workType}}<span class="work-type">({{workType}})</span>{{/}}
    </span>
    <span class="pure-u-1-1">
    {{#if role}}
        <span class="role-list pure-u-24-24">
        {{#each role}}
            <span class="role-name">{{.}}</span>
        {{/each}}
        </span>
    {{/if}}
    </span>
</div>
