{
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "react/jsx-no-bind": [
      2,
      {
        "ignoreRefs": true
      }
    ],
    "react/jsx-indent-props": 0,
    "react/jsx-indent": 0,
    "no-return-assign": 0,
    "jsx-quotes": ["error", "prefer-double"],
    "no-var": 1
  }
}
