{
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "react/jsx-no-bind": [
      2,
      {
        "ignoreRefs": true,
        "allowArrowFunctions": true
      }
    ],
    "prefer-template": 2,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": 0,
    "no-return-assign": 0,
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "no-var": 2,
    "prefer-const": 2,
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ],
    "arrow-parens": 0,
    "no-useless-escape": 0
  }
}
