$lightestgray: #f6f6f6;
$lightergray: #e8e8e8;
$input-background: white;
$mintgreen: #DCFC9F;

.label-font {
  font-weight: bold;
}

body {
  [class^='select2'] {
    border-radius: 2px !important;
  }
  .select2-container .select2-choice, .select2-result-label {
    font-size: 1.5em;
    height: 41px;
    overflow: auto;
  }
  background: no-repeat url('/images/logo.png') 15px 20px / 170px;
  margin: 40px auto;
  max-width: 1050px;
  line-height: 1.6;
  padding: 1px 1px;
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
  h1, h2, h3 {
    line-height: 1.2;
  }
  h4 {
    font-size: 1.0em;
    font-weight: 500;
    margin-bottom: 5px;
  }
  ul.grid-tabs {
    z-index: 100;
    .grid-tab {
      .grid-tab-link-selected {
        background: $lightestgray;
      }
      .disabled {
        color: lightgray;
        cursor: default;
      }
    }
  }

  .tab-content {
    select {
      width: 100%;
    }
    min-height: 600px;
    background: $lightestgray;
    .inner-content {
      min-height: 550px;
      .next-step-button {
        horiz-align: center;
        margin-left: auto;
        display: block;
        margin-top: 20px;
      }
      .prop-input {
        .add-item-button {
          float: right;
          margin-bottom: 12px;
        }
        .label {
          display: block;
          background: $input-background;
          padding: 12px 12px 4px 12px;
          font-weight: bold;
          &:after {
            content: ":";
          }
        }
        .panel-part {
          .field {
            padding: 0px 12px 15px 12px;
            background: $input-background;
            .index-type-select {
              margin-bottom: 12px;
            }
          }
          border-left: 1px solid lightgrey;
          border-right: 1px solid lightgrey;
          height: 100%;
          background: white;
          &.first {
            border-top: 1px solid lightgrey;
          }
          &:last-child:not(.last):after {
            display: block;
            height: 2px;
//            width: 100%;
            background: lightgrey;
            content: "";
            margin: 0px 12px 0px 12px;
          }
          &:last-child.last {
            border-bottom: 1px solid lightgrey;          }
        }
        .index-type-select {

        }
        input {
          height: 26px;
        }
        .add-new-btn-row {
          padding: 4px 8px 8px 8px;
          a {
            float: right;
          }
          margin-bottom: 12px;
        }
        span.support-panel-expander {
          min-width: 22px;
          position: relative;
          left: 270px;
          top: -26px;
          display: inline;
          min-height: 22px;
          top: 6px;
        }
        .deletable {
          background-image: url('/images/delete_cross.svg');
          background-repeat: no-repeat;
          background-color: lightgrey;
          background-position: left top;
          padding-left: 2em;
          cursor: pointer;
        }
        .searchable:not(.deletable) {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100%' width='20px'><text x='0' y='22' font-size='20'>▶</text></svg>");
          background-repeat: no-repeat;
          background-position: right top;
          padding-right: 1.5em;
        }
        .search-result {
          background: white;
          padding: 0.5em;
          margin-bottom: 0.1em;
          min-height: 65px;
          .search-result-subitem {
            background: $lightergray;
            margin-bottom: 2px;
            padding-left: 0.4em;
            padding-right: 0.4em;
            .search-result-work-selector {
              text-align: right;
            }
          }
          .part-name {
            font-style: italic;
          }
          .search-result-subitem:last-child {
            margin-bottom: 0;
          }
          .subitem-label, .creator-years {
            margin: 0;
          }
        }
        .subject-type-select {
          margin-top: 5px;
          display: inline-flex;
          label {
            padding-right: 25px;
            padding-left: 5px;
          }
        }
        a.delete {
          background-image: url('/images/delete_cross.svg');
          background-repeat: no-repeat;
          background-position: left top;
          padding-left: 2em;
          cursor: pointer;
          min-width: 20px;
        }
        .default-editable {
          min-height: 60px;
          padding: 0 0 12px 0;
          height: 100%;
          .inputs {
            background: $mintgreen;
            display: block;
            border: 1px solid lightgrey;
            padding: 5px 22px;
            .input {
              display: block;
              .label {
                background: inherit;
                padding: 0;
                @extend .label-font;
                display: inline;
                &:after {
                  content: ":";
                }
              }
              .field {
                background: inherit;
                padding: 0;
              }
            }
          }
          .subject-type-association {
            margin: -10px;
          }

        }
        .default-non-editable {
          margin-bottom: 44px;
          padding: 8px;
          .inputs {
            display: block;
            border: 1px solid lightgrey;
            padding: 5px 22px;
            .input {
              display: block;
              .label {
                padding: 0;
                @extend .label-font;
                display: inline;
                &:after {
                  content: ":";
                }
              }
              .field {
                padding: 0;
              }
            }
          }
          .subject-type-association {
            display: none;
          }
        }
        .additional-entries-editable {
          min-height: 60px;
          padding: 8px;
          .inputs {
            .input {
              background: $mintgreen;
              padding: 0 12px;
              .label {
                background: inherit;
              }
              .field {
                padding: 0;
                background: inherit;
              }
            }
          }
          .subject-type-association {
            span {
              background: $mintgreen;
              padding: 0 12px;
              span.add-association-legend {
                padding: 0 6px;
                display: inline-block;
              }
            }
          }
        }
        .additional-entries-non-editable {
          min-height: 60px;
          padding: 8px;
          .inputs {
          border: 1px solid lightgrey;
            text-align: center;
            padding-right: 24px;
            .input {
              &.input:last-child:before {
                content: " — ";
              }
              display: inline;
              .label {
                display: none;
              }
              .field {
                padding: 0;
              }
            }
          }

          .subject-type-association {
            display: inline-block;
            text-align: center;
            padding: 10px;
            &:before {
              content: "Rollen er knyttet til ";
            }
          }
        }
        .select-role-assoc {
          .select-result-item-radio {
            vertical-align: middle;
          }
          a {
            float: right;
            min-width: 60px;
          }
        }
      }
    }
    .grid-tabs {
      padding: 1em 0 0;
    }
    .support-panel {
      margin-left: 2px;
      margin-right: 2px;
      padding: 0 15px;
      position: absolute;
      width: 340px;
      .prop-search-result {
        height: 300px;
      }
      .support-panel-content {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
        &:before {
          content: "";
          position: absolute;
          left: -1px;
          right: 100%;
          width: 0;
          height: 0;
          border-top: 32px solid transparent;
          border-right: 16px solid white;
          border-bottom: 32px solid transparent;
          min-height: 66px;
        }
        min-height: 66px;
        overflow: scroll;
        max-height: 525px;
      }
    }
  }
  .links {
    bottom: 0px;
    vertical-align: bottom;
    min-height: 30%;
    text-align: right;
  }

  .footer {
    position: fixed;
    bottom: 0;
    float: right;
    #errors {
      float: right;
      position: relative;
      width: 100%;
      background: #F77F00;
      color: #fff;
      font-weight: bold;
      p {
        padding: 4px;
      }
    }
    #save-stat {
      float: right;
      text-align: center;
      color: #888;
      margin: 0 4px;
      display: block;
      width: 200px;
      &:before {
        content: "status: "
      }
    }
  }
}