$lightestgray: #f6f6f6;
$lightergray: #e8e8e8;
$input-background: white;
$mintgreen: #DCFC9F;

@mixin source-logo-loc {
  background-image: url('/images/logos/loc.svg');
  background-repeat: no-repeat;
  background-size: auto 27px;
}

@mixin source-logo-bibbi {
  background-image: url('/images/logos/bibbi.png');
  background-repeat: no-repeat;
  background-size: auto 20px;

}

@mixin focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
  outline-offset: 2px;
}

@mixin pencil {
  display: inline-block;
  background-image: url('/images/lower_right_pencil.svg');
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 2em;
  cursor: pointer;
  height: 20px
}

.label-font {
  font-weight: bold;
}

//.spinner {
//  background-image: url(/images/ajax-loader.gif);
//  background-size: 100%;
//  background-repeat: no-repeat;
//  padding: 6px;
//  margin: -6px 0px -2px 1px;
//}

#growler {
  position: absolute;
  width: 300px;
  height: 200px;
  background: white;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  border-radius: 8px;
  align-self: auto;
  margin-top: -100px;
  margin-left: -150px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  z-index: 10000;
  .save-placeholder {
    display: block;
    height: 80%;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 74px;
  }
  #growlerMessage {
    text-align: center;
  }
}

body {
  margin: 0px auto;
  [class^='select2'] {
    border-radius: 2px !important;
  }
  .select2-selection__choice {
    margin-top: 7px !important;
  }
  .ui-timepicker-wrapper {
    display: none !important;
  }
  .pure-button:focus {
    @include focus();
  }

  .select2-container {
    .select2-selection--multiple {
      min-height: 38px !important;
      .select2-selection__rendered {
        white-space: normal !important;
      }
    }
    .select2-selection {
      &:focus {
        @include focus()
      }
      .select2-selection__rendered {
        padding: 1px 5px !important;
      }
      li {
        margin-bottom: -3px;
      }
      background-image: url("/images/arrow_down_solid.svg");
      background-repeat: no-repeat;
      background-position: 99% 6px;
      padding-top: 1px;
      margin: -3px 1px !important;
      padding: 0px 0px 1px 5px !important;
      ul {
        li {
          span.suggestion-source {
            &.suggestion-source-bibbi {
              padding: 0px 24px 2px 0;
              @include source-logo-bibbi;
              background-size: auto 16px;
              background-position: 6px 0;
            }
            &.suggestion-source-loc {
              padding: 0px 65px 2px 0;
              @include source-logo-loc;
              background-size: auto 16px;
              background-position: 6px 0;
            }
          }
        }
      }
    }

  }
  .input-wrapper .select2-container {
    .select2-selection {
      background-position: 99% 6px;
    }
  }
  #home {
    background: no-repeat url('/images/logo.png') 17px 20px / 170px;
    height: 49px;
    width: 329px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  max-width: 1050px;
  line-height: 1.6;
  padding: 1px 1px;
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
  h1, h2, h3 {
    line-height: 1.2;
  }
  h3.headline {
    display: flex;
    font-size: 1.0em;
    min-height: 2em;
    .title {
      font-style: italic;
    }
    span.default-postfix {
      padding-right: 0.5em;
    }
  }
  a:hover {
    cursor: pointer;
  }
  h4 {
    font-size: 1.0em;
    font-weight: 500;
    margin-bottom: 5px;
  }
  ul.grid-tabs {
    float: none;
    list-style: none;
    position: relative;
    li {
      float: left;
      display: block;
      margin-bottom: -7px;
      label {
        display: block;
        position: relative;
        top: 1px;
        z-index: 2;
      }
      .tab-content {
        display: none;
        width: 100%;
        position: absolute;
        left: 0px;
        overflow: visible;
      }
      input[type="radio"][id^="tab"] {
        position: absolute;
        left: -9999px;
      }
      [id^="tab"]:checked + label {
        background: $lightestgray;
        border: 1px solid #ccc;
        border-bottom-color: transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      [id^="tab"]:checked ~ [id^="tab-content"] {
        display: block;
      }
    }
    z-index: 100;
    .grid-tab {
      .grid-tab-link {
        padding: 0.5em 0.5em;
        font-size: 0.9em;
      }
      .grid-tab-link-selected {
        background: $lightestgray;
      }
      .disabled {
        color: lightgray;
        cursor: default;
      }
    }
  }

  .tab-content {
    &.maintenance-inputs {
      .input-panel:first-child .panel-part:first-child {
        border-top: 1px solid lightgrey;
      }
      .input-panel:last-child .panel-part:last-child {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 15px;
        &:not(.last-one):after {
          display: none !important;
        }
      }
    }
    margin-top: -1px;
    width: 712px;
    select {
      width: 100%;
    }
    min-height: 600px;
    background: $lightestgray;
    .inner-content {
      .media-type-menu {
        div {
          a {
            margin: 10px 10px 10px 30px;
          }
        }
      }
      min-height: 550px;
      .next-step-button {
        horiz-align: center;
        margin-left: auto;
        display: block;
        margin-top: 20px;
        float: right;
      }
      button.saving {
        opacity: 0;
      }
      .save-placeholder {
        float: right;
      }
      button.saving + .save-placeholder {
        top: -14px;
        right: -299px;
      }

      .prop-input {
        &.boolean-separator {
          height: 2px;
          &.last-one {
            display: none;
          }
        }
        .add-item-button {
          float: right;
          margin-bottom: 9px;
        }

        .save-placeholder {
          position: relative;
          //opacity: 0;
          .spinner {
            zoom: 0.5;
          }
        }
        .input-wrapper button.saving + .save-placeholder {
          top: -2px;
          right: -247px;
        }
        .input-wrapper .subject-type-association button.saving + .save-placeholder {
          top: 16px;
          right: -50px;
        }
        .label {
          padding: 12px 12px 4px 12px;
          display: block;
          background: $input-background;
          font-weight: bold;
          &:after {
            content: ":";
          }
          &:empty:after {
            font-size: 0px;
          }
          &.for-one-liner {
            display: inline;
            min-width: 104px;
          }
        }
        .one-liner {
          margin-top: 13px;
        }
        .input-wrapper .label {
          padding: 12px 12px 4px 0px;
        }
        .panel-part {
          &.for-one-liner {
            display: flex;
            &:not(.last-one) {
              margin-bottom: -24px;
            }
          }
          &.first {
            border-top: 1px solid lightgrey;
          }
          &.boolean-separator {
            height: 2px;
          }
          &:last-child:not(.last-one):after, &.boolean-separator:not(last-one):after {
            display: block;
            height: 2px;
            //            width: 100%;
            background: lightgrey;
            content: "";
            margin: 0px 12px 0px 12px;
            order: 1000;
          }
          &.last-one:not(first) {
            border-bottom: 1px solid lightgrey;
            padding-bottom: 15px;
          }
          &.ui-accordion {
            .ui-accordion-icons {
              padding-left: 13px;
            }
            .ui-accordion-header {
              border-radius: 0px;
              background: none;
              margin: 4px 13px;
              .ui-accordion-header-icon {
                right: .5em;
                left: auto;
              }
            }
            .ui-accordion-content {
              border: none;
              padding: 13px;
              display: none;
              & + span > .add-new-btn-row {
                margin-top: 13px;
              }
            }
            display: flex;
            flex-direction: column;
            &.label {
              flex-direction: row;
            }
          }
          .support-panel {
            margin-left: 2px;
            margin-right: 2px;
            padding: 0 15px;
            position: absolute;
            width: 340px;
            .prop-search-result {
              height: 300px;
            }
            .support-panel-content {
              box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
              &:before {
                content: "";
                position: absolute;
                left: 0px;
                right: 100%;
                width: 0;
                height: 0;
                border-top: 32px solid transparent;
                border-right: 16px solid white;
                border-bottom: 32px solid transparent;
                min-height: 66px;
              }
              min-height: 66px;
              .search-result-box {
                max-height: 450px;
                overflow-y: auto;
                border: 6px solid white;
              }
              .add-new-btn-row {
                padding: 19px 0px 8px 8px;
              }
            }
            .field {
              padding-left: 0px;
              padding-right: 0px;
            }
          }
          .field {
            .index-type-select {
              margin-bottom: 6px;
            }
            input[type="checkbox"] + .save-placeholder {
              top: 11px;
              padding-left: 52%;
            }
            input:not([type=checkbox]) + .save-placeholder {
              top: 17px;
              right: 18px;
            }
            a.support-panel-expander.saving {
              display: none;
            }
            :not(.sub-field) .index-type-select + a.support-panel-expander + .save-placeholder {
              top: 47px;
              right: 18px;
            }
            :not(.sub-field) a.support-panel-expander + .save-placeholder {
              top: 18px;
              right: 18px;
            }
            .sub-field a.support-panel-expander + .save-placeholder {
              top: 15px;
              right: 16px;
            }
            padding: 0px 12px 15px 12px;
            background: $input-background;

            input[type=checkbox] {
              width: auto;
              margin-top: -7px;
            }
            .explanation {
              margin-left: 0.5em;
              font-style: italic;
              font-size: 0.9em;
            }
          }
          border-left: 1px solid lightgrey;
          border-right: 1px solid lightgrey;
          background: white;
          div.external-source-results {
            span {
              width: 100%;
            }
            margin-top: 7px;
            ul {
              margin-top: 3px;
              list-style: none;
              padding: 0px;
              li {
                width: 100%;
                background-color: $lightergray;
                display: inline-block;
                padding: 5px;
                .pure-button {
                  float: right;
                  margin-top: 14px;
                  padding-left: 25px;
                  padding-right: 25px;
                  & + .save-placeholder {
                    left: 251px;
                  }
                }
                span {
                  float: left;
                }
              }
            }
          }
          div.external-sources {
            margin-top: 10px;
            padding: 13px;
            & > span {
              background-repeat: no-repeat;
              background-position: right center;
              border-bottom: 1px solid black;
              cursor: pointer;
              display: block;
              &.unexpanded {
                background-image: url("/images/arrow_down_outline.svg");
              }
              &.expanded {
                background-image: url("/images/arrow_up_outline.svg");
              }
            }
          }
          div.suggested-values {
            margin-top: 10px;
            .suggested-value {
              clear: both;
              &.suggestion-source-bibbi {
                @include source-logo-bibbi;
                background-position: 58%;
                &.searchable {
                  background-position: 87%;
                }
              }
              &.suggestion-source-loc {
                @include source-logo-loc;
                background-position: 51%;
                &.searchable {
                  background-position: 86% 0;
                }
              }
              button {
                float: right;
              }
              .support-panel-expander {
                margin-top: 2px;
              }
            }
          }

        }
        .search-input {
          &.focus {
            @include focus();
          }
          background-color: white;
          border: 1px solid lightgrey;
          .search-term {
            height: 37px;
            vertical-align: middle;
            padding-left: 7px;
            padding-top: 8px;
            display: block;
            &:focus {
              outline: none;
            }
            &.bracketed:before {
              content: "[";
              color: gray;
            }
            &.bracketed:after {
              content: "]";
              color: gray;
            }
          }
          .preview-properties {
            position: relative;
            font-style: italic;
            font-size: 0.8em;
            display: block;
            padding: 1px 0 0px 8px;
            background-color: #eee;
            margin: 2px -7px 4px 6px;
            span:not(last-child):after {
              content: " ";
            }
          }
        }
        input {
          padding-left: 6px;
          &:not([type=search]) {
            height: 36px;
            padding: 6px;
          }
          &[type=search] {
            height: 28px;
            margin-right: 16px;
          }
          &[type=number] {
            text-align: right;
          }
          &:invalid {
            outline: auto 5px red;
          }
        }
        textarea {
          width: 100%;
        }
        .add-new-btn-row {
          padding: 0 13px 23px 8px;
          a:not(.delete-link), button, span {
            float: right;
            width: auto;
          }
          margin-bottom: 12px;
        }
        .support-panel-expander {
          width: 22px;
          position: relative;
          min-height: 22px;
          background-image: url("/images/arrow_right_solid.svg");
          background-repeat: no-repeat;
          display: block;
          cursor: pointer;
          &.suggested-value {
            background-image: url("/images/arrow_down_outline.svg");
          }
        }
        .explainable {
          position: relative;
          right: 54px;
          top: 30px;
          float: right;
          font-style: italic;
          background: lightgray;
          padding: 1px 4px 1px 7px;
          border-radius: 9px;
          display: inline-block;
          margin-top: -24px;
        }
        :not(.input-wrapper) .support-panel-expander {
          left: 294px;
          top: 32px;
          display: block;
          margin-top: -22px;
        }
        .input-wrapper .support-panel-expander {
          margin-right: 298px;
          top: 32px;
          display: block;
          margin-top: -23px;
          float: right;
        }
        .support-panel-expander {
          display: inline-block;
        }
        .deletable {
          background-image: url('/images/delete_cross.svg');
          background-repeat: no-repeat;
          background-color: lightgrey;
          background-position: left top;
          padding-left: 2em;
          cursor: pointer;
        }
        //.searchable:not(.deletable) {
        //  background-repeat: no-repeat;
        //  background-position: right top;
        //  padding-right: 1.5em;
        //}
        .searchable {
          padding-right: 13px;
          height: auto;
          border-radius: 2px;
        }
        span.legend {
          display: none;
        }
        .searchable.focus + span.legend,
        .simple-searchable:focus + span.legend {
          display: block;
        }
        span.advanced-search-legend {
          span.ui-icon {
            display: inline-block;
            height: 15px;
          }
          .more-info {
            cursor: help;
            text-decoration: underline;
          }
          position: absolute;
          font-size: 0.7em;
          font-style: italic;
          padding: 4px 9px 6px 0;
          background-color: yellow;
          margin: 4px 10px 0 0;
          border: 1px grey solid;
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
        }
        .suggestion-source-bibbi {
          @include source-logo-bibbi;
          background-position: 90% 7px;
        }
        .suggestion-source-loc {
          @include source-logo-loc;
          background-position: 85% 9px;
        }

        .search-result {
          .field {
            margin-bottom: 10px;
          }
          &.exact-match {
            border: 2px dashed red;
          }
          &:not(.exact-match) {
            border: 2px white;
          }
          background: white;
          padding: 0.5em;
          min-height: 65px;
          .edit-resource {
            @include pencil()
          }
          .select-result-item {
            display: inline-block;
            height: 20px;
            width: 20px;
            border: 2px solid black;
            margin-top: 3px;
            border-radius: 50%;
            box-shadow: 2px 2px 3px #888888;
            span {
              height: 10px;
              width: 10px;
              border: 1px solid black;
              border-radius: 50%;
              margin-top: 3px;
              margin-left: 3px;
              background-color: black;
              box-shadow: 2px 2px 3px #888888;
              display: none;
            }
            &:focus span {
              display: block;
            }
            &:hover span {
              display: block;
              background-color: lightgrey;
              border-color: lightgrey;
            }
          }
          .search-result-subitem {
            background: $lightergray;
            margin-bottom: 2px;
            padding-left: 0.4em;
            padding-right: 0.4em;
            .search-result-work-selector {
              text-align: right;
            }
          }
          .part-name {
            font-style: italic;
          }
          .role-list {
            font-size: 0.8em;
            .role-name {
              text-transform: lowercase;
              &:nth-last-child(2):after {
                content: " og ";
              }
              &:nth-last-child(n+3):after {
                content: ", ";
              }
            }
            &:before {
              content: "Rolle: ";
            }
          }
          .search-result-subitem:last-child {
            margin-bottom: 0;
          }
          .search-result-subitem {
            .sub-title:before {
              content: " : "
            }
            .part-number:after {
              content: ".";
            }
          }
          .search-result-item-label, .creator-years {
            margin: 0;
          }
          .search-result-item-detail-label {
            margin: 0;
            font-size: 90%;
            font-style: italic;
          }
          .toggle-show-sub-items {
            cursor: pointer;
          }
        }
        .subject-type-select {
          margin-top: 5px;
          display: inline-flex;
          label {
            padding-right: 25px;
            padding-left: 5px;
            margin-top: 8px;
          }
        }
        a.delete {
          background-image: url('/images/delete_cross.svg');
          background-repeat: no-repeat;
          background-position: left top;
          padding-left: 2em;
          cursor: pointer;
          min-width: 20px;
        }
        .default-non-editable {
          min-height: 60px;
          padding: 8px;
          .inputs {
            display: block;
            border: 1px solid lightgrey;
            padding: 5px 13px;
            .input {
              display: block;
              &[style*="display: inline-block"] {
                display: block !important;
              }
              .label {
                padding: 0;
                @extend .label-font;
                display: inline;
                &:after {
                  content: ":";
                }
                &:empty:after {
                  display: none;
                }
              }
              .field {
                padding: 0;
              }
              &.rangeStart:after {
                content: " – ";
              }
              &.rangeStart,
              &.rangeEnd {
                display: inline;
              }
              .boolean-value {
                display: inline-block;
              }
            }
          }
          .subject-type-association {
            display: none;
          }
        }
        .default-editable,
        .additional-entries-editable {
          margin-top: 10px;
          min-height: 60px;
          padding: 8px;
          .inputs {
            .input {
              .index-type-select {
                min-height: 37px;
              }
              background: $mintgreen;
              padding: 0 12px;
              margin-bottom: -1px;
              .value input[type=checkbox] {
                width: auto;
                margin-top: -5px;
              }
              .label {
                background: inherit;
              }
              .field {
                padding: 0;
                background: inherit;
              }
              &.rangeStart:after {
                content: "–";
                position: absolute;
                margin-top: -24px;
                margin-left: 9px;
              }
              &.duration {
                text-align: right;
              }
            }
            .boolean-value {
              display: inline-block;
            }
          }
          .subject-type-association {
            span:not(.pure-button) {
              background: $mintgreen;
              padding: 0 12px;
              span.add-association-legend {
                padding: 0 6px;
                display: inline-block;
              }
            }
          }
        }
        .additional-entries-non-editable {
          min-height: 60px;
          padding: 8px;
          .input-wrapper {
            padding-left: 10px;
            display: block;
            border: 1px solid black;
            .inputs {
              text-align: center;
              padding-right: 24px;
              .input {
                &.input:last-child:before {
                  content: " — ";
                }
                display: inline;
                .label {
                  display: none;
                }
                .field {
                  padding: 0;
                }
              }
            }

            .subject-type-association {
              display: block;
              text-align: left;
              &:before {
                content: "Rollen er knyttet til ";
              }
            }
          }
        }
        .additional-entries-suggested {
          min-height: 60px;
          padding: 8px;
          .input-wrapper {
            background-color: $lightergray;
            display: block;
            padding: 10px;
            .inputs {
              text-align: center;
              padding-right: 24px;
              .input {
                &.input:last-child:before {
                  content: " — ";
                }
                display: inline;
                .label {
                  display: none;
                }
                .field {
                  padding: 0;
                }
              }
            }

            .subject-type-association {
              display: block;
              text-align: left;
              &:before {
                content: "Rollen er knyttet til ";
              }
            }
            .suggestion-source-bibbi {
              @include source-logo-bibbi;
              background-position: left;
            }
            .suggestion-source-loc {
              @include source-logo-loc;
              background-position: left;
            }
            .use-suggestion-button {
              float: right;
            }
          }
        }
        .select-role-assoc {
          .select-result-item-radio {
            vertical-align: middle;
          }
          a {
            float: right;
            min-width: 60px;
          }
        }
      }
    }
    .grid-tabs {
      padding: 1em 0 0;
    }
  }
  .links {
    bottom: 0px;
    vertical-align: bottom;
    min-height: 30%;
    text-align: right;
  }

  .report {
    h2 {
      border-top: 2px solid black;
      padding-top: 2px;
    }
    .compound {
      border-top: 1px lightgrey solid;
      padding-top: 2px;
    }
    .label {
      padding-right: 4px;
      text-align: right;
      font-weight: bold;
      &:after {
        content: ":";
      }
    }
    .explanation {
      font-style: italic;
      &:before {
        content: " "
      }
    }
    .separate-lines {
      display: block;
      margin-bottom: 5px;
    }
    .value-list, .multi-value {
      margin-bottom: 5px;
      .list-value:not(:last-child):not(.separate-lines):after {
        content: " - ";
      }
      .value:not(:last-child):not(.separate-lines):after {
        content: ", ";
      }
      .subject-type-association:before {
        content: " knyttet til ";
      }
    }
  }
  .footer {
    position: absolute;
    top: 0;
    right: 0;
    #errors {
      float: right;
      position: relative;
      width: 100%;
      background: #F77F00;
      color: #fff;
      font-weight: bold;
      p {
        padding: 4px;
      }
    }
    #save-stat {
      float: right;
      text-align: center;
      color: #888;
      margin: 0 4px;
      display: block;
      width: 200px;
      &:before {
        content: "status: "
      }
    }
  }
  #iframecontainer {
    width: 1000px;
    height: 90%;
    display: none;
    position: fixed;
    margin-top: 5%;
    margin-left: 5%;
    background: #FFF;
    border: 1px solid #666;
    box-shadow: 2px 2px 40px #222;
    z-index: 999999;
    iframe {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      border: none;
    }
    #loader {
      background: url('/images/ajax-loader.gif');
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      margin: auto;
    }
    #close-preview-button {
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }
  #block {
    background: #000;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 2000;
  }
  #alert-existing-resource-dialog {
    .search-result {
      max-height: 70px;
      overflow: scroll;
      .item {
        .edit-resource {
          @include pencil();
          margin-right: -12px;
        }
      }
    }
  }
}