.wrapper {
 @include wrapper-container;
}
.container {
  float: left;
  width: 100%;
}
.row {
  position: relative;
  @extend %clearfix;
  float: left;
  width: 100%;
}
.g-xup {
  @extend %g-xup;
}

// Keeping for reference for now ...
//
// .outer-container {
//   //  @extend %show-horizontal-grid;
//   //  @extend %show-baseline-grid;
//   @include container;
//   @extend %clearfix;

//   width: 96%;

//   @include breakpoint($small) {
//     $susy: (
//             columns: $numberOfColumnsNarrow,
//             gutters: 1/3
//     );
//     @include container(800px $susy);
//   }

//   @include breakpoint($medium) {
//     $susy: (
//             columns: $numberOfColumnsWide,
//             gutters: 1/3
//     );
//     @include container(1200px $susy); // 1200 grid
//   }
// }