.person {
  @include span(12);
  @include container;
  margin-top: rhythm(2);
  font-size: rhythm(2);

  header {
    @include span(12);
    @include container;
    padding-bottom: rhythm(2);
    margin-bottom: rhythm(2);
  }

  h1 {
    @include span(12);
    font-size: rhythm(4);
    margin: 0;
  }

  .lifespan {
    @include span(12);
    font-size: rhythm(3);
    font-weight: bold;
    margin: 0;
  }

  .meta-item {
    @include span(12);
    @include container;
  }

  .meta-label {
    @include semiBoldFont;
    padding-right: rhythm(1);
  }

  .person-works {
    @include span(12);
    @include container;

    header {
      border: none;
      margin: 0;
    }

  }

}

@include breakpoint($small) {

  .person {
    font-size: rhythm(2.5);

    h1 {
      font-size: rhythm(5);
      font-weight: normal;
    }

    .lifespan {
      font-size: rhythm(4);
      font-weight: normal;
    }

  }

}