.search-box {
  background: $greyColor;
  padding: rhythm(1.5);
  border-bottom: 1px solid $mediumGreyColor;

  form {

    label {
      display: none;
    }

    .search-field-wrapper {
      @include container;
      border: 1px solid $greyColor;
      background: $white;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: $mediumGreyColor;
      border-radius: 4px 4px;
    }

    .search-field {
      @include span(9);
    }

    .search-button {
      @include span(3 last);
    }

  }

  input {
    -webkit-appearance: none;
    background-position: 0.5em center;
    padding: rhythm(0.5) rhythm(1);
    background-repeat: no-repeat;
    font-size: rhythm(2.5);
    color: $darkGreyColor;
    border: none;
    width: 100%;
  }

  button {
    border-radius: 0px 4px 4px 0px;
    letter-spacing: rhythm(0.2);
    text-transform: uppercase;
    border-color: $redColor;
    font-size: rhythm(2.5);
    background: $redColor;
    padding: rhythm(0.5);
    margin-bottom: -1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    border-width: 1px;
    margin-top: -1px;
    color: $white;
    width: 100%;

    &:hover, &:active, &:focus {
      border-color: $darkGreyColor;
      background: $darkGreyColor;
      cursor: pointer;
    }

  }

}

.search-no-hits {
  padding-top: 1em;
}

@include breakpoint($small) {

  .logged-in-message {
    @include wrapper-container;
    padding-bottom: 0;
    padding-left: rhythm(2);
  }

  .search-box-wrapper {
    @include wrapper-container;
    padding-bottom: 0;
  }

  .search-box {
    padding: 0 rhythm(2) rhythm(2);
    border-bottom: none;

    form {

      label {
        position: relative;
        font-size: rhythm(2);
        text-transform: uppercase;
        padding-left: rhythm(1);
        color: $blackColor;
        display: inline;
      }

      .search-field-wrapper {
        padding-right: none;
      }

      .search-field {
        @include span(10);
      }

      .search-button {
        @include span(2 last);
      }

    }

    input {
      font-size: 1.4em;
      /*font-size: rhythm(4);*/
      /*padding: rhythm(1) rhythm(0.5) rhythm(1) rhythm(2);*/
      padding: 0.4em;
      background-position: 1em center;
    }

    button {
      font-weight: bold;
      padding: rhythm(1);
      font-size: rhythm(4);
    }

  }

}