.work-entry {
  @include span(12);
  @include container;

  header {
    @include span(12);
    border: none;

    a {
      width: 100%;
      padding: rhythm(2) rhythm(2) rhythm(2) 0;
      display: inline-block;
      font-size: rhythm(2.5);
    }

  }

  .work-information {
    @include span(12);
  }

}
.work-active-filters {
  @include span(12);
}