.work-entry {
  @include span(12);
  @include container;

  &.loading {
    text-align: center;
    font-size: rhythm(10);
    color: $redColor;
  }

  header {
    @include span(12);
    border: none;

    a {
      width: 100%;
      padding: rhythm(2) rhythm(2) rhythm(2) 0;
      display: inline-block;
      font-size: rhythm(2.5);
    }

  }

  .work-information {
    @include span(12);
    @include container;
  }

  .meta-item {
    @include span(12);
    @include container;
  }

  .contributors,
  .work-excerpt,
  .additional-info,
  .work-subjects,
  .work-genres,
  .active-filters,
  .other-publications {
    @include span(12);
  }

}

@include breakpoint($medium) {

  .work-entry {

    .work-information {
      @include span(8);
    }

    .additional-info {
      @include span(4 last);
    }

  }

}