@function em($target, $context: $base-font-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

// An easy way to fetch a deep value in a multi-level map. Works much like
// map-get() except that you pass multiple keys as the second parameter to
// go down multiple levels in the nested map.
// e.g. : .header  { background-color: map-fetch($config, themes $theme header  ); }
// ==========================================================================
@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  @if ($length > 1) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return map-fetch($value, $rest)
  } @else {
    @return $value;
  }
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function fontSize($key, $platform: mobile) {
  @if map-has-key($fonts, $key) {
    @return map-fetch($fonts, $key '#{$platform}-size');
  }

  @warn "Unknown `#{$key}` in $fonts.";
  @return null;
}

@function fontSizeEm($key, $platform: mobile) {
  @return em(fontSize($key, $platform));
}

@function fontSizeBaseline($key, $platform: mobile) {
  @return fontSize($key, $platform) / $base-line-height;
}

@function fontFamily($key) {
  @if map-has-key($fonts, $key) {
    @return map-fetch($fonts, $key family);
  }

  @warn "Unknown `#{$key}` in $fonts.";
  @return null;
}

@function fontWeight($key) {
  @if map-has-key($fonts, $key) {
    @return map-fetch($fonts, $key weight);
  }

  @warn "Unknown `#{$key}` in $fonts.";
  @return null;
}

@function fontStyle($key) {
  @if map-has-key($fonts, $key) {
    @return map-fetch($fonts, $key style);
  }

  @warn "Unknown `#{$key}` in $fonts.";
  @return null;
}