@mixin wrapper-container() {
  @include container();
  padding: gutter(12);
  @include breakpoint($small) {
    @include container(800px);
  }
  @include breakpoint($medium) {
    @include container(1200px);
  }
}

@mixin createListGallery($totalNumberOfColumns, $numberOfColsPrRow, $m:4) {
  @include gallery(($totalNumberOfColumns / $numberOfColsPrRow) of $totalNumberOfColumns);
  &:nth-child(#{"n+"}#{$numberOfColsPrRow + 1}) {margin-top: rhythm($m);}
  margin-bottom: 0;
}

@mixin center-list-items() {
  display: table;   //Allow the centering to work
  margin-left: auto;
  margin-right: auto;
}

@mixin no-hyphination() {
  -ms-word-break: normal;
  word-break: normal;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

@mixin show-my-grid {

  $susy : (
          debug: (
                  image: show
          ),
  );

  @include container();

  @media (min-width: $lt-small) {
    @include show-grid(2);
  }

  @media (min-width: $small) {
    @include show-grid(4);
  }

  @media (min-width: $medium) {
    @include show-grid(8);
  }

  @media (min-width: 1200px) {
    @include show-grid(12);
  }
}

@mixin border-bottom {
   border-bottom: 3px solid #212121;
}

@mixin border-top {
  border-top: 3px solid #212121;
}

@mixin border {
  border: 3px solid #212121;
}

@mixin boldFont {
  font-family: 'poppins-bold', Arial, sans-serif;
}

@mixin semiBoldFont {
  font-family: 'poppins-semibold', Arial, sans-serif;
}

@mixin regularFont {
  font-family: 'poppins-regular', Arial, sans-serif;
}

@mixin regularFontSize {
  font-size: 16px;
}

@mixin smallText {
  color: #767676;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 5px;
}