@mixin modal-content {
  position: relative;
  padding: rhythm(4);
  background: $greyColor;
  border-radius: 0.5em;
  border: 1px solid $mediumGreyColor;

  .error-msg {
    @include span(12);
    margin-bottom: rhythm(4);

    p {
      width: 100%;
      margin: 0;
    }

  }

  .close-modal-button {
    position: absolute;
    background: $white;
    border: 1px solid $blackColor;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    top: -1em;
    right: -1em;
    font-size: 1em;
    padding: 0;
    margin: 0;

    &:hover {
      background: $darkGreyColor;
      color: $white;
      cursor: pointer;
    }

  }

  h1 {
    @include span(12);
    text-align: center;
    @include semiBoldFont;
    margin: 0;
    font-size: rhythm(4);
    font-size: normal;
  }

  .form-item, p {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
  }

  a:hover {
    cursor: pointer;
  }

  .cancel-link {
    margin-left: rhythm(5);
  }

}

@mixin wrapper-container() {
  @include container();
  padding: 1% gutter(12) gutter(12) gutter(12);
  @include breakpoint($small) {
    @include container(800px);
  }
  @include breakpoint($medium) {
    @include container(1200px);
  }
}

@mixin createListGallery($totalNumberOfColumns, $numberOfColsPrRow, $m:4) {
  @include gallery(($totalNumberOfColumns / $numberOfColsPrRow) of $totalNumberOfColumns);
  &:nth-child(#{"n+"}#{$numberOfColsPrRow + 1}) {margin-top: rhythm($m);}
  margin-bottom: 0;
}

@mixin center-list-items() {
  display: table;   //Allow the centering to work
  margin-left: auto;
  margin-right: auto;
}

@mixin no-hyphination() {
  -ms-word-break: normal;
  word-break: normal;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

@mixin show-my-grid {

  $susy : (
          debug: (
                  image: show
          ),
  );

  @include container();

  @media (min-width: $lt-small) {
    @include show-grid(2);
  }

  @media (min-width: $small) {
    @include show-grid(4);
  }

  @media (min-width: $medium) {
    @include show-grid(8);
  }

  @media (min-width: 1200px) {
    @include show-grid(12);
  }
}

@mixin border-bottom {
   border-bottom: 2px solid #212121;
   @include breakpoint($small) {
    border-bottom: 3px solid #212121;
   }
}

@mixin border-top {
  border-top: 2px solid #212121;
  @include breakpoint($small) {
    border-top: 3px solid #212121;
  }
}

@mixin border {
  border: 3px solid #212121;
}

@mixin boldFont {
  font-family: 'open-sans', Arial, sans-serif;
  font-weight: 400;
}

@mixin semiBoldFont {
  font-family: 'open-sans', Arial, sans-serif;
  font-weight: 600;
}

@mixin regularFont {
  font-family: 'open-sans', Arial, sans-serif;
  font-weight: 700;
}

@mixin regularFontSize {
  font-size: 16px;
}

@mixin smallText {
  color: #767676;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 5px;
}