export HOST=192.168.50.12
export SIP_IMAGE_TAG=b33e1d41f7276f122a9e969a156ecca8c2e8f6f3
export SIP_PORT=6001
export SIP_PROXY_PORT=6002
export KOHA_IMAGE_TAG=cfd2a90d6d67c9539b29fd98ddad1faf095ed674
export KOHA_ADMINUSER=admin
export KOHA_ADMINPASS=secret
export KOHA_INSTANCE=name
export TRIPLESTORE_PORT=3030
export ELASTICSEARCH_PORT=8200
export SERVICES_PORT=8005
export OVERVIEW_PORT=80
export DATA_BASEURI=http://192.168.50.12:8005/
export SMS_FORWARD_URL=tcpsink:9999
