<form name="entityForm">
    <div layout="column">
        <md-button data-automation-id="new_work_button" ng-click="newWork()">+ New Work</md-button>
        <h2 data-automation-id="work_id">{{id}}</h2>
        <md-content layout="column" layout-sm="column" ng-repeat="triple in triples">
            <md-input-container ng-switch on="triple.type" style="width:90%">
                <label>
                    {{labels[triple.predicate]['default'] || triple.predicate}}
                </label>

                <input ng-switch-when="date" data-ng-model="triple.value" data-automation-id="{{labels[triple.predicate]['default'] || triple.predicate}}" type="date" name="{{triple.id}}" />
                <input ng-switch-when="email" data-ng-model="triple.value" data-automation-id="{{labels[triple.predicate]['default'] || triple.predicate}}" type="email" name="{{triple.id}}" />
                <input ng-switch-default data-ng-model="triple.value" data-automation-id="{{labels[triple.predicate]['default'] || triple.predicate}}" name="{{triple.id}}" ng-blur="triple.save()" ng-disabled="triple.isReadOnly || triple.isSaving"/>

                <div ng-show ng-messages="entityForm.description.$error">
                    <div ng-message="required">Dette er påkrevd.</div>
                    <!--div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>-->
                </div>

                <md-progress-linear md-mode="indeterminate" ng-show="triple.isSaving" style="position:absolute;top:44px"></md-progress-linear>
                <md-progress-linear md-mode="determinate" ng-show="triple.isNew" style="position:absolute;top:44px" class="md-accent"></md-progress-linear>
                <md-progress-linear md-mode="determinate" ng-show="!triple.isNew && triple.value !== triple.savedValue" style="position:absolute;top:44px" class="md-warn"></md-progress-linear>
                <md-button class="md-fab md-raised md-mini" style="position:absolute;right:0;font-size:small" ng-click="removeTriple(triple)" title="Slett">X</md-button>
            </md-input-container>

        </md-content>
    </div>
</form>
<div layout="column">
    <md-content layout-padding layout="row" layout-sm="column">
        <md-input-container>
            <md-select ng-model="selectedField" data-automation-id="predicate_selector" placeholder="Felt">
                <md-select-label>{{selectedField.label.default || 'Velg felt'}}</md-select-label>
                <md-option ng-repeat="field in fields" ng-value="field">{{field.label.default}}</md-option>
            </md-select>

        </md-input-container>
        <md-button ng-click="add()" ng-disabled="!selectedField">+</md-button>

    </md-content>
</div>
