<form name="entityForm">
    <div layout="column">
        <button data-automation-id="new_work_button" ng-click="newWork()">+ New Work</button>
        <h2 data-automation-id="work_id">{{id}}</h2>
        <div ng-repeat="triple in triples">
            <div ng-switch on="triple.type" style="width:90%">
                <label>
                    {{labels[triple.predicate]['default'] || triple.predicate}}
                </label>

                <input ng-switch-when="date" data-ng-model="triple.value" data-automation-id="{{labels[triple.predicate]['default'] || triple.predicate}}" type="date" name="{{triple.id}}" />
                <input ng-switch-when="email" data-ng-model="triple.value" data-automation-id="{{labels[triple.predicate]['default'] || triple.predicate}}" type="email" name="{{triple.id}}" />
                <input ng-switch-default data-ng-model="triple.value" data-automation-id="{{labels[triple.predicate]['default'] || triple.predicate}}" name="{{triple.id}}" ng-blur="triple.save()" ng-disabled="triple.isReadOnly || triple.isSaving"/>

                <div ng-show ng-messages="entityForm.description.$error">
                    <div ng-message="required">Dette er påkrevd.</div>
                    <!--div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>-->
                </div>

                <button style="position:absolute;right:0;font-size:small" ng-click="removeTriple(triple)" title="Slett">X</button>
            </div>

        </div>
    </div>
</form>
<div>
    <select ng-model="selectedField" data-automation-id="predicate_selector" placeholder="Felt" ng-options="field.label.default for field in fields track by field.predicate">
    </select>
    <button ng-click="add()" ng-disabled="!selectedField">+</button>
</div>
