.active-filters {
  /* border-top: 1px solid $mediumGreyColor; */
  margin-top: rhythm(1);
  padding-top: rhythm(1);
  .label {
    font-size: rhythm(2);
    text-transform: uppercase;
    color: $darkGreyColor;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .active-filter, .remove-all-filters {
    list-style: none;
    display: inline-block;
    margin-bottom: rhythm(2);
    margin-right: rhythm(2);
    border: 1px solid $darkGreyColor;
    background: $greyColor;
    border-radius: 0.2em;
    cursor: pointer;
    .filter-label {
      padding: rhythm(0.5) rhythm(1);
      display: inline-block;
    }
    .remove {
      color: $redColor;
      padding: rhythm(0.5) rhythm(1);
      display: inline-block;
      border-left: 1px solid $darkGreyColor;
    }
    &:hover {
      .remove {
        background: $mediumGreyColor;
        font-weight: bolder;
      }
    }
  }
  .remove-all-filters {
    background: #dedcdc;
  }
}