.filterTitle {
  @include container;
  border-bottom: none;
  margin-top: rhythm(4);
  cursor: pointer;

  h1 {
    @include span(10);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: normal;
    line-height: rhythm(4);
  }

  .single-filter-close {
    @include span(2 last);
    cursor: pointer;
    margin-top: 0.2em;

    i {
      border: 1px solid #212121;
      padding: 4px;
      border-radius: 50%;

      &:hover {
        background: $darkGreyColor;
        cursor: pointer;
        color: $white;
      }

    }

  }

  img {
    max-height: 2em;
  }

}

.filter-list {
  @include span(12);
  @include container;

  .searchfilters {
    @include span(12);
    @include container;
    list-style-type: none;
    padding-left: 0;
    margin: rhythm(1) 0 0;
    padding: 0;

    label {
      @include span(12);
      @include container;

      .checkbox-wrapper {
        @include span(1);
        margin-top: rhythm(1.5);
        line-height: rhythm(4);
      }

      h2 {
        @include span(11 last);
        margin-top: rhythm(1.5);
        overflow: hidden;
        line-height: rhythm(4);
      }

    }

  }

  .filter_label {
    @include regularFont;
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 0;
  }
}

.show-all, .show-less, .show-more {
  font-weight: normal;
  color: $redColor;

  h3 {
    font-size: 0.8em;
    margin-bottom: 0;
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }

  }

}

.filter-group.dateRangeFilters {

  header.filterTitle {
    border-top: 1px solid $darkGreyColor;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: default;
  }

  .form-item {
    display: inline-block;
  }

  input {
    max-width: 4em;
    margin-right: 1em;
    font-size: 0.8em;
    padding: 0.7em 0 0.5em 0.6em;
  }

  label {
    margin-right: 0.4em;
  }

  button {
    font-size: 0.9em;
    padding: 0.5em;
  }

  .error {
    position: relative;

    .feedback {
      position: absolute;
      font-size: 0.8em;
      top: 3em;
      color: $redColor;
      min-width: 200%;
    }

  }

}

@include breakpoint($small) {

  .filterTitle {

    h1 {
      @include span(9);
    }

    .single-filter-close {
      @include span(3 last);
    }

  }

  .filter-list {

    .searchfilters {

      label {

        .checkbox-wrapper {
          @include span(2);
        }

        h2 {
          @include span(10 last);
        }

      }

    }

  }

}