.filters {
  @include span(12);
  @include container();
  margin-bottom: rhythm(2);

  .limit-filters {
    @include span(12);
    @include container();
    @include border-bottom;
    display: block;
    color: $redColor;
    margin-bottom: rhythm(3);
    /* border-top: 1px solid $mediumGreyColor; */

    a {
      width: 100%;
      display: inline-block;
      background-image: url('/images/btn-limit-filter-close.svg');
      background-position: right rhythm(5) center;
      background-repeat: no-repeat;
      padding: rhythm(2) 0;
      text-decoration: none;
      &:hover, &:focus {
        background-color: $greyColor;
      }
      &.filters-hidden {
        background-image: url('/images/btn-limit-filter-open.svg');
      }
    }

  }

  .filter-wrapper {
    @include span(12);
    @include container;

    .filter-group {
      @include span(12);
      @include container;

      header {
        @include span(12);
        border-top: 1px solid $darkGreyColor;
        padding-top: rhythm(2);
      }

      section {
        @include span(12);
      }

      footer {
        @include span(12);
      }

    }

    .filter-group-first {
      @include span(12);
      @include container;

      header {
        @include span(12);
        border-top: none;
        padding-top: 0;
      }

      section {
        @include span(12);
      }

      footer {
        @include span(12);
      }

    }

  }

  .limit-filters-header {
    display: none;
  }

}

@include breakpoint($small) {

  .filters {
    @include span(3);
    @include border-top;
    margin-top: rhythm(5);

    .limit-filters-header {
      @include span(12 of 12);
      display: block;
      text-transform: uppercase;
      font-size: 0.8em;
      color: $darkGreyColor;
      padding-bottom: rhythm(2);
      margin-top: rhythm(-5);
    }

    .limit-filters {
      display: none;
    }

  }

}