.login-modal {
  width: 95%;
  height: auto;
  padding: rhythm(6);
  background: $white;
  margin: 5% auto;
  border-radius: 5px;
  
  @include breakpoint($small){
     width: 40%;
  }

  h1 {
    text-align: center;
    @include semiBoldFont;
  }
  
  h2 {
    @include regularFont;
    margin-bottom: rhythm(1);
  }

  h3 {
    @include regularFontSize;
    text-align: center;
  }

  input[type=text] {
    width: 100%;
  }

  button {
    width: 100%;
  }
}