@mixin registration-grid-component($container) {
  @include span(10);
    @if $container {
      @include container;
    }
  @include push(1);
}

.register-modal {
  @include container;
  @include modal-content;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    &:disabled {

      label {
        opacity: 0.35;
      }

      input {
        opacity: 0.35;
      }

    }

  }

  .form-item {
    @include span(12);
    @include container;

    > label {
      @include registration-grid-component(false);
    }

    > input, > .select-container {
      @include registration-grid-component(false);
      font-size: rhythm(3);
    }

  }

  p {
    @include registration-grid-component(false);
  }

  legend {
    @include registration-grid-component(false);
    margin-top: rhythm(2);
    text-align: center;
    font-size: rhythm(4);
  }

  .feedback {
    @include registration-grid-component(false);
    color: $redColor;
    font-size: rhythm(2.5);
  }

  .select-container {
    padding: rhythm(1.5);
    margin-bottom: rhythm(3);
  }

  .terms_and_conditions {
    @include registration-grid-component(true);

    .checkbox-wrapper {
      @include span(2);
    }

    .checkbox-desc {
      @include span(10 last);
    }

    input[type="checkbox"] {
      + label {
        i {
          font-size: rhythm(4);
        }
      }
    }

  }

  /**
   * Max width for input fields
   */
  input {

    &#mobile, &#ssn {
      max-width: 8em;
    }

    &#pin, &#repeatPin {
      max-width: 4em;
    }

    &#day, &#month, &#year, &#zipcode {
      max-width: 5em;
    }

  }

}


@include breakpoint($small) {

  .register-modal {

    address {
      @include registration-grid-component(true);

      .form-item {

        &:first-child {
          @include span(12);
        }

        &:nth-child(2) {
         @include span(3);
        }

        &:nth-child(3) {
          @include span(9 last);
        }

        label, input, .feedback {
          @include push(0);
          @include span(12);
        }

      }

    }

    .date-of-birth {
      @include registration-grid-component(true);
      
      .form-item {
        @include span(4);

        &:nth-child(3) {
          @include span(4 last);
        }

      }

    }

    .terms_and_conditions {

      .checkbox-wrapper {
        @include span(1);
      }

      .checkbox-desc {
        @include span(11 last);
        padding-top: 0.25em;
      }

    }

    /**
   * Max width for input fields
   */
  input {

    &#mobile, &#ssn {
      max-width: 8em;
    }

    &#pin, &#repeatPin {
      max-width: 4em;
    }

    &#day, &#month, &#year, &#zipcode {
      max-width: auto;
    }

  }

  }

}

@include breakpoint($medium) {

  .registration-modal-wrapper {

    .modal-content {
      @include span(8);
      @include push(2);
    }

  }

}

@include breakpoint($large) {

  .registration-modal-wrapper {

    .modal-content {
      @include span(6);
      @include push(3);
    }

  }

}