.user-info {
  @include span(12);
  @include container;

  header {
    border-bottom: 4px solid $blackColor;
    padding-bottom: rhythm(1);
    margin-bottom: rhythm(3);
  }

  h1 {
    @include span(12);
    margin-top: rhythm(4);
    font-size: rhythm(3);
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: rhythm(1);
  }

  .meta-item {
    @include span(12);
    @include container;
    font-size: rhythm(2.5);
  }

  .meta-label {
    @include span(12);
    font-weight: bold;
  }

  .meta-content {
    @include span(12);
    margin-bottom: rhythm(2);
  }

  footer {
    @include span(12);
    @include container;

    button {
      @include span(12);
    }

    .last-updated {
      @include span(12);
      text-align: center;
      margin-top: rhythm(2);
      font-size: rhythm(2);
    }

    .green-text {
      color: $green;
    }

  }

}

@include breakpoint($small) {

  .user-info {

    footer {
      @include span(5);

      .last-updated {
        text-align: left;
        font-size: rhythm(3);
      }

    }

  }

}