.user-info-form {

  form {
    @include span(12);
    @include container;
  }

  .form-item {
    @include span(12);
    @include container;
    margin-top: rhythm(2);

    &:first-child {
      @include span(12);
    }

    &:nth-child(2) {
     @include span(3);
    }

    &:nth-child(3) {
      @include span(9 last);
    }

  }

  label {
    @include span(12);
    margin-bottom: rhythm(1);
  }

  input {
    @include span(12);
    font-size: rhythm(3);
  }

  .feedback {
    @include span(12);
    color: $redColor;
    font-size: rhythm(2.5);
  }

  & + footer {
    margin-top: rhythm(4);
  }

}