.pickup, .reserve, .registered {
  @include span(12);
  @include container;

  > h1 {
    @include span(12);
    margin-top: rhythm(4);
    font-size: rhythm(3);
    font-weight: normal;
    border-bottom: 4px solid $blackColor;
    padding-bottom: rhythm(1);
  }

  .single-entry {
    @include span(12);
    @include container;

    &:last-child {
      border-bottom: none;
    }

  }

}

.pickup {

  .single-entry {
    margin-bottom: rhythm(2);

    .entry-details {
      @include span(12);
    }

    h1 {
      font-size: rhythm(3);
      margin-top: rhythm(1);
      margin-bottom: 0;
    }

    h2 {
      font-size: rhythm(2.5);
      margin-top: rhythm(1);
      margin-bottom: rhythm(1);
    }

    p {
      @include span(12);
    }

  }

  .loan-expire, .loan-pickup-number, .loan-pickup-location {
    @include span(6);

    h2 {
      text-transform: uppercase;
      margin: 0;
    }

    p {
      font-size: rhythm(3);
      font-weight: bold;
      margin: 0;
    }

  }

  .loan-pickup-number {
    @include span(6 last);
  }

}

.reserve {
  .red-btn, .black-btn {
    min-width: rhythm(16);
  }

  .select-branch {
    min-width: rhythm(32);
  }

  td, th, select {
    font-size: rhythm(2);
  }

  .reserved-entry-content {
    @include span(12);
    @include container;
    padding: rhythm(3) rhythm(1);

    &:nth-child(even) {
      background: $greyColor;
    }

  }

  .meta-item {
    @include span(12);
    @include container;
    font-size: rhythm(2.5);
  }

  .meta-label {
    @include span(12);
    font-weight: bold;
  }

  .meta-content {
    @include span(12);
    margin-bottom: rhythm(2);
  }

}

.registered {

  > h1 {

    span {
      width: 100%;
      display: block;
    }

    .date {
      font-size: rhythm(2);
      margin-top: rhythm(1);
    }

  }

  .single-entry {
    margin-bottom: rhythm(2);

    .entry-details {
      @include span(12);
    }

    h1 {
      font-size: rhythm(3);
      margin-top: rhythm(1);
      margin-bottom: 0;
    }

    h2 {
      font-size: rhythm(2.5);
      margin-top: rhythm(1);
      margin-bottom: rhythm(1);
    }

  }

  .due-date {
    @include span(12);

    h2 {
      text-transform: uppercase;
      margin: 0;
    }

    p {
      font-size: rhythm(4);
      font-weight: bold;
      margin: 0;
    }

  }

  .prolong {
    @include span(12);
    margin-top: rhythm(2);

    button {
      width: 100%;
    }

  }

}

@include breakpoint($small) {

  .pickup {

    .single-entry {

      .entry-details {
        @include span(6);
      }

    }

    .loan-expire {
      @include span(3);
    }

    .loan-pickup-number {
      @include span(3 last);
    }

  }

  .registered {

    .single-entry {
      padding-top: rhythm(2);
      padding-bottom: rhythm(2);

      .entry-details {
        @include span(6);
      }

    }

    .due-date {
      @include span(3);
    }

    .prolong {
      @include span(3 last);
    }

  }

}