.postpone-reserve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: rhythm(2);

  label {
    display: block;
  }

  input {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
    max-width: 13em;
    max-height: 3em;
  }

  .postpone-aside {
    width: 50%;
    /*position: relative;
    top: rhythm(1.5);*/
  }

  .date-picker-button {
    position: absolute;
    font-size: 2em;
    top: -2.1em;
    right: -6em;
  }

  .feedback {
    position: absolute;
    font-size: 0.7em;
    color: red;
  }
}

.pickup, .reserve, .loan {
  @include span(12);
  @include container;

  > h1 {
    @include span(12);
    margin-top: rhythm(4);
    font-size: rhythm(3);
    font-weight: normal;
    border-bottom: 4px solid $blackColor;
    padding-bottom: rhythm(1);
  }

  .single-entry {
    @include span(12);
    @include container;

    &:last-child {
      border-bottom: none;
    }

  }

}

.pickup {

  .single-entry {
    margin-bottom: rhythm(2);

    .entry-details {
      @include span(12);
    }

    h1 {
      font-size: rhythm(3);
      margin-top: rhythm(1);
      margin-bottom: 0;
    }

    h2 {
      font-size: rhythm(2.5);
      margin-top: rhythm(1);
      margin-bottom: rhythm(1);
    }

    p {
      @include span(12);
    }

  }

  .loan-expire, .loan-pickup-number, .loan-pickup-location {
    @include span(6);

    h2 {
      text-transform: uppercase;
      margin: 0;
    }

    p {
      font-size: rhythm(3);
      font-weight: bold;
      margin: 0;
    }

  }

  .loan-expire p, .loan-pickup-number p {
    font-size: rhythm(4);
  }

  .loan-pickup-number {
    @include span(6 last);
  }

}

.reserve {
  .red-btn, .black-btn {
    min-width: rhythm(16);
    margin-bottom: rhythm(0.75);
  }

  .select-branch {
    min-width: rhythm(32);
  }

  td, th, select {
    font-size: rhythm(2);
  }

  .reserved-entry-content {
    @include span(12);
    @include container;
    padding: rhythm(3) rhythm(1);

    &:nth-child(even) {
      background: $greyColor;
    }

  }

  .meta-item {
    @include span(12);
    @include container;
    font-size: rhythm(2.5);
  }

  .meta-label {
    @include span(12);
    font-weight: bold;
  }

  .meta-content {
    @include span(12);
    margin-bottom: rhythm(2);
  }

  .feedback {
    color: $redColor;
  }

}

.loan {

  > h1 {

    span {
      width: 100%;
      display: block;
    }

    .date {
      font-size: rhythm(2);
      margin-top: rhythm(1);
    }

  }

  .single-entry {
    margin-bottom: rhythm(2);

    .entry-details {
      /*@include span(3);*/
    }

    h1 {
      font-size: rhythm(3);
      /* margin-top: rhythm(1); */
      margin-top: 0;
      margin-bottom: 0;
    }

    h2 {
      font-size: rhythm(2.5);
      margin-top: rhythm(1);
      margin-bottom: rhythm(1);
    }

  }

  .due-date {
    /*@include span(3);*/

    h2 {
      text-transform: uppercase;
      margin: 0;
    }

    p {
      font-size: rhythm(4);
      font-weight: bold;
      margin: 0;
    }

  }

  .renew-message {
    /*@include span(3);*/
    /*margin-top: rhythm(2);*/
    margin-top: 0;
    max-width: 15em;

  }

  .success {
    color: green;
  }

  .renew-button {
    margin-top: 0;

    button {
      width: 100%;
    }

  }

  .renew-all-button {
    background-color: green;
    margin-top: 0;

    button {
      width: 100%;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

}

@include breakpoint($small) {

  .pickup {

    .single-entry {

      .entry-details {
        @include span(4);
      }

    }

    .loan-expire {
      @include span(2);
    }

    .loan-pickup-number {
      @include span(3);
    }

    .loan-pickup-location {
      @include span(2 last);
    }

  }

  .loan {

    .single-entry {
      padding-top: rhythm(2);
      padding-bottom: rhythm(2);

      .entry-details {
        @include span(4);
      }

    }

    .due-date {
      @include span(2);
    }

    .renew-message {
      @include span(3);
    }

    .renew-button {
      @include span(2 last);
    }

    .renew-all-button {
      @include span(2 last);
      background-color: green;

      &:disabled {
        opacity: 0.4;
      }
    }
  }

}