.search-results {
  
  @include span(12 of 12);
  @extend %border-top;
  padding-top: rhythm(2);

  @include breakpoint($small){
    @include span(9 of 12);
    margin-right: 0;
  }

}

.search-results-footer {
  @include span(12 of 12);

  @include breakpoint($small){
    @include span(9 of 12);
    @include push(3 of 12);
  }

  margin-bottom: rhythm(2);
}

.search-results-number {
  @include span(5 of 12);
  margin-top: rhythm(8);

  @include breakpoint($small){
     margin-top: rhythm(8);
    @include span(7 of 12);
  }

  .result-name {
    font-weight: 700;
  }

}

.search-sorting {
  @include span(6 of 12);
  float: right;

  @include breakpoint($small){
     @include span(3 of 12);
    float: right;
  }

  p {
    color: $darkGreyColor;
    text-transform: uppercase;
    font-size: 0.8em;
    display: none;
  }

    overflow: hidden;
    background: url(../../../../../public/images/btn-search-sorting.svg);


    select {
      background: transparent;
      width: 100%;
      padding: rhythm(2);
      @extend %border;
      font-family: sans-serif !important;
      font-size: 1em;
      -webkit-appearance: none;
      -moz-appearance:none;
      -o-appearance:none;
    }

}



.search-sorting select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}

.search-sorting {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url(../../../../../public/images/btn-search-sorting.svg) no-repeat right #ddd;
  border: 1px solid #ccc;
}