.single-entry {
  @include span(12);
  @include container;
  @include border-bottom;
  margin-bottom: rhythm(4);

  .book-cover {
    @include span(3);
    text-align: center;
    float: none;

    a {
      display: inline-block;
      max-width: 100%;
    }

    img {
      display: inline-block;
      transition: all 0.5s;
      margin-top: 10px;
      max-width: 95%;

      &:hover {
        max-width: 100%;
        margin-top: 0;
      }

    }

    i {
      font-size: 3em;
      color: $mediumGreyColor;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      margin-top: 0.5em;

      &:hover {
        font-size: 3.5em;
        margin-top: 0;
      }

    }

  }

}

.entry-header {
  display: flex;
}

.entry-content {
  @include span(12);
  @include container;
  font-size: rhythm(2);
  margin-right: auto;
  float: none;

  .entry-content-icon {
    @include span(12);
  }

  h1 {
    @include span(12);
    @include container;
    font-size: rhythm(4);
    margin-top: 0;
    margin-bottom: rhythm(0.2);

    .title-text {
      @include span(11);
    }

    .caret {
      @include span(1 last);
      text-align: right;
      font-size: 2.75em;
      position: relative;

      i {
        position: absolute;
        left: 0.1em;
        margin-left: -0.25em;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        &:before {
          margin: 0;

        }

      }

    }

  }

  ul.mediaTypeFormats {
    list-style-type: none;
    display: inline;
    padding: 0
  }

  ul.mediaTypeFormats li {
    display: inline;
    padding: 0;
    margin: 0 0.3em;
    font-weight: normal
  }


  > a:hover, > a:active, > a:focus {

    h1 {

      .title-text {
        text-decoration: underline;
      }

      .caret i {
        margin-left: 0;
      }

    }

  }

  > p {
    @include span(12);
    margin-top: 0;
    margin-bottom: rhythm(1);
  }

  .abstract {
    line-height: rhythm(4.4);
  }

  .subjects, .genres {
    margin-top: rhythm(2);

    strong {
      font-size: rhythm(2.5);
    }

  }

}

.show-more-content {
  @include span(12);
  text-align: center;
  margin-bottom: rhythm(1);

  &:hover {
    cursor: pointer;
  }

  p {
    font-size: rhythm(2);
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    color: $redColor;
  }

  img {
    max-width: 1em;
  }

}

.entry-content-more {
  clear: both;
}

.items-by-branch {
  margin-bottom: 0.5em;

  .media-type-items {
    border-bottom: 1px solid #ada9a9;
  }

  .media-type-items:not(last-child) {
    margin-bottom: 2px;
  }

  .branch-header {
    background-color: #dedcdc;
  }

  .media-header {
    margin-left: -0.4em;
    .flex-item {
      font-size: 1.12em;
    }

  }

  h1 {
    @include regularFont;
    font-weight: normal;
    margin: 0.2em 1em 0.2em 0;
    font-size: 1.2em;
  }

  .entry-content-icon-single {
    font-weight: normal;
  }

  .header {
    font-size: 0.88em;
    font-weight: 700;
    text-transform: capitalize;
    border-bottom: 1px solid #ada9a9;

    .flex-item {
      width: 50%;
      padding-top: 0;
    }

    .flex-item:first-child, .flex-item:last-child {
      width: 25%;
    }

    .media-item {
      display: none;
    }
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sub-wrapper {
    padding: 0;
    font-size: 0.88em;
  }

  .sub-wrapper:nth-child(even) {
    background: #F7F7F7;
  }

  .sub-wrapper:nth-child(odd) {
    background: #E8E8E8;
  }

  .sub-wrapper:first-child {
    padding-bottom: 0.5em;
  }

  .flex-item {
    flex: 1 1 auto;
    padding: 0.5em 0.5em 0.5em 1.1em;
  }

  .item-icon-button {
    text-align: right;
    align-self: center;

    button {
      font-size: 1.2em;
      padding: 0;
      margin: 0;
    }

    .icon-plus, .icon-minus {
      border: 1px solid #212121;
      padding: 4px;
      border-radius: 50%;
      font-size: 0.6em;
    }
  }

  .main-row-2 {
    padding: 0.5em 0 0.5em 0;
  }

  .main-row-1 {
    width: 100%;
  }

  .main-row-2 {
    width: 75%;
  }

  .sub-row {
    width: 50%;
  }

  .sub-row:first-child, .sub-row:last-child {
    width: 25%;
  }

  .location-item {
    background-color: #ddd;
    padding: 0 0.5em;
    border-radius: 0.2em;
    margin: 0 0.3em 0 0.3em;
    text-transform: uppercase;
  }

}

@include breakpoint($small) {
  .single-entry {

    .book-cover {
      @include span(3);
    }

  }

  .entry-content {
    min-height: 5.5em;
    font-size: rhythm(2.5);
    margin-left: 1em;

    h1 {
      margin-bottom: rhythm(0.5);
      font-weight: normal;
    }

    > p {
      margin-bottom: rhythm(1);
    }

    .subjects, .genres {
      margin-top: rhythm(0);
    }

  }

  .items-by-branch {

    .main-row-1 {
      width: 25%;
      margin-bottom: 0;
      margin-top: 0.5em;
    }

    .header {
      .media-item {
        display: block;
      }
    }

  }

  .show-more-content {
    margin-bottom: rhythm(4);
    text-align: right;

    p {
      font-size: rhythm(2);
    }

  }

}