.single-entry {
  @include span(12);
  @include container;
  @include border-bottom;
  margin-bottom: rhythm(4);

  .book-cover {
    @include span(3);
    text-align: center;

    a {
      max-width: 100%;
      display: inline-block;
    }

    img {
      max-width: 100%;
      display: inline-block;
    }

  }

}

.entry-content {
  @include span(8);
  @include container;
  font-size: rhythm(2);

  .entry-content-icon {
    @include span(12);
  }

  h1 {
    @include span(12);
    font-size: rhythm(4);
    margin-top: 0;
    margin-bottom: rhythm(0.2);
  }

  > p {
    @include span(12);
    margin-top: 0;
    margin-bottom: rhythm(1);
  }

  .abstract {
    line-height: rhythm(4.4);
  }

  .subjects, .genres {
    margin-top: rhythm(2);

    strong {
      font-size: rhythm(2.5);
    }

  }

}

.entry-link {
  @include span(1 last);
  font-size: 3.5em;

  i {

    &::before {
      margin-right: 0;
      width: 100%;
      margin-left: -0.25em;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    &:hover, &:active, &:focus {

      &::before {
        margin-left: -0em;
      }

    }

  }

}

.show-more-content {
  @include span(12);
  text-align: center;
  margin-bottom: rhythm(1);

  p {
    font-size: rhythm(2);
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    color: $redColor;
  }

  img {
    max-width: 1em;
  }

}

.entry-content-more {
  background-color: #eee;
  padding: 1em;
  clear: both;
}

.items-by-branch {
  h1 {
    @include regularFont;
    font-weight: normal;
  }

  table {
    th { background-color: #eee; }
  }
}

@include breakpoint($small) {
  .single-entry {

    .book-cover {
      @include span(3);
    }

    .entry-content {
      @include span(8);
    }

    .entry-link {
      @include span(1 last);
    }

  }

  .entry-content {
    font-size: rhythm(2.5);

    h1 {
      margin-bottom: rhythm(0.5);
      font-weight: normal;
    }

    > p {
      margin-bottom: rhythm(1);
    }

    .subjects, .genres {
      margin-top: rhythm(0);
    }

  }

  .show-more-content {
    margin-bottom: rhythm(4);
    text-align: right;

    p {
      font-size: rhythm(2);
    }

  }

}