.search-wrapper {
  margin-top: 1em;
}

.search-results {
  @include span(12 of 12);
  @include container;
  // margin-top: -0.7em;
  /* @include border-top;
  padding-top: rhythm(2); */

  .search-results-list {
    @include border-top;
    padding-top: rhythm(2);
  }

  .search-results-number {
    margin-top: rhythm(0.9);
    font-size: 0.9em;
    line-height: 1.8em;
  }
}

.search-results-settings {
  position: absolute;
  bottom: 0.1em;
  right: 0;
  button {
    padding: 0;
  }
  .search-results-settings-label {
    display: block;
    font-size: 0.59em;
    padding-left: 0.3em;
  }
}

.search-results-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.search-results-header {
  @include container;

  .search-results-summary {
    @include span(12);
    @include container;
    font-size: rhythm(3);
    /* margin: rhythm(2) 0; */

    .search-results-number {
      @include span(3);
    }

    .search-sorting-placeholder {
      @include span(9 last);
      text-align: right;

      p {
        margin: 0;
      }

      span {
        font-weight: bold;
      }

    }

  }

  .active-filters {
    @include span(12);
  }

}

.search-sorting {
  @include span(6 of 12);
  float: right;

  p {
    color: $darkGreyColor;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 5px;
  }

}

.search-sorting-select-box {
  overflow: hidden;
  background: url(/images/btn-search-sorting.svg) no-repeat right;
  background-position: 95%;
  @include border;

  select {
    background: transparent;
    width: 100%;
    padding: 0 0 0 5px;
    height: 34px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance:none;
    -o-appearance:none;
  }

}

@include breakpoint($small) {

  .search-results {
    @include span(9 of 12);
    /* margin-top: rhythm(5);
    padding-top: rhythm(4); */
    margin-right: 0;
  }

  .search-results-header {
    /* border-bottom: 1px solid $mediumGreyColor; */

    .search-results-summary {

      .search-results-number {
          @include span(8);
      }

      .search-sorting-placeholder {
        @include span(4 last);
      }

    }

    .active-filters {
      @include span(12 last);
    }

  }

  .search-sorting {
    @include span(3 of 12);
    float: right;
  }

}