.single-publication {
  border-bottom: 1px solid $darkGreyColor;
  padding-bottom: rhythm(2);
  margin-bottom: rhythm(2);

  &.open {
    border-bottom: none;
    padding-bottom: 0;
  }

  .book-cover {
    @include span(3);
  }

  .publication-text-container {
    @include span(9 last);
    @include container;

  }

  .availability {
    @include span(12);
    font-size: rhythm(2);
    text-transform: uppercase;
  }

  h2 {
    @include span(12);
    margin: rhythm(1) 0;
    font-size: rhythm(2.5);
    font-weight: bold;
  }

  .meta-item {
    @include span(12);
    font-size: rhythm(2);
  }

  .reserve-button {
    @include span(12);
    margin-top: rhythm(2);
  }

  .show-status {
    @include span(12);
    @include container;
    margin-top: rhythm(4);

    button {
      @include span (12);
      width: 100%;
      font-size: rhythm(2.5);
      color: $redColor;
      cursor: pointer;
      font-weight: bold;
    }

    span {
      float: left;
    }

    i {
      float: right;
    }

  }

}

.publication-info {
  border-bottom: 1px solid $darkGreyColor;
  padding-bottom: rhythm(2);
  margin-bottom: rhythm(2);
  background: $greyColor;

  .meta-info {
    @include span(12);
  }

  .meta-label {
    padding-right: rhythm(1);
    display: inline-block;
    font-weight: bold;
  }

  .meta-content {
    display: inline-block;
  }

  .note {
    margin-top: rhythm(1);
  }

  h2 {
    @include span(12);
    font-size: rhythm(4);
    font-weight: bold;
  }

}

.entry-items {

}