.publication-info {
  background: $greyColor;
  @include span(12 of 12);
  margin-top: -10px;
  margin-bottom: rhythm(2);
  @include border-bottom;
  
  @include breakpoint($small){
  }

  .title {
    @include span(10 of 12);
    padding:rhythm(2);
  }

  .close {
    @include span(0.5 of 12);
    float: right;
    margin-top: rhythm(6);
  }

  .entry-content {
    @include span(12 of 12);

    .col {
      @include span(12 of 12);
      padding:rhythm(2);

      ul, li {
        list-style: none;
        padding: 0;
      }

      @include breakpoint($small){
         @include span(6 of 12);
        &:nth-child(2) {
          margin-right: 0;
        }
      }

    }

    table {
      @include span(12 of 12);
      border-collapse: collapse;

      th, tr {
        padding: rhythm(1);
      }

      th, td {
        padding: 0.5rem;

        @include breakpoint($small){
          padding: 0.5rem 1rem;
        }
      }

      th {
        @include semiBoldFont;
        text-align: left;
        text-transform: capitalize;
      }

      tr:nth-child(odd) {
        background: $white;
      }
    }
  }

}