.other-publications {
  @include span(12);
  @include container;

  > header {
    @include span(12);
    text-align: center;
  }

  .mediatype-selector {
    @include span(12);
    margin-bottom: rhythm(2);
    text-align: center;

    > div {
      display: inline-block;
      cursor: pointer;
    }

  }

  .mediatype-group {
    @include span(12);
    @include container;

    h2 {
      @include semiBoldFont;
      font-size: rhythm(2.5);
      margin-bottom: 0;
    }

    > header {
      @include span(12);
    }

    .other-publications-entry-content {
      @include span(12);
      @include container;
    }

    .work-publications {
      @include span(12);
      @include container;
    }

    .row {
      @include span(12);
      @include container;
    }

    .single-publication {
      @include span(12);
      @include container;
    }

    .publication-info {
      @include span(12);
      @include container;
    }

    .entry-items {
      @include span(12);
      @include container;
    }

    .toggle-all-publications {
      @include span(12);
    }

  }

}

.arrow-open, .arrow-close {
  @include span(1 of 12);
  float: right;

  @include breakpoint($small){
    @include span(0.5 of 12);
    float: right;
  }
}

@include breakpoint($small){

  .other-publications .mediatype-group .single-publication {
    @include span(6);

    &:nth-child(even) {
      @include span(6 last);
    }

  }

}

@include breakpoint($medium){

  .other-publications .mediatype-group .single-publication {
    @include span(4);

    &:nth-child(even) {
      @include span(4);
    }

    &:nth-child(3) {
      @include span(4 last);
    }

  }

}