.single-publication {
  border: 1px solid $mediumGreyColor;
  margin-bottom: rhythm(2);
  padding: rhythm(2);

  &.open {
    border-bottom: none;
  }

  .book-cover {
    @include span(3);
    cursor: pointer;

    img {
      max-height: 7em;
    }

    &.missing {
      text-align: center;
      i {
        color: $mediumGreyColor;
        font-size: 3em;
      }

    }

  }

  .meta-info {
    @include span(9 last);
    @include container;

    .numholds {
      @include push(1);

      font-weight: bold;
      font-size: smaller;
      color: $redColor;
    }
  }

  .publication-text-container {
    @include span(12);
    @include container;
  }

  .availability {
    @include span(12);
    text-transform: uppercase;
    font-size: rhythm(2);
  }

  h2 {
    @include span(12);
    font-size: rhythm(2.5);
    margin: rhythm(1) 0;
    font-weight: bold;
    cursor: pointer;
  }

  .meta-item {
    @include span(12);
    font-size: rhythm(2);
  }

  .reserve-button {
    @include span(12);
    margin-top: rhythm(2);



  }

  .show-status {
    @include span(12);
    @include container;
    margin-top: rhythm(4);

    button {
      @include span (12);
      font-size: rhythm(2.5);
      cursor: pointer;
      width: 100%;
    }

    span {
      float: left;
      //color: $redColor;
    }

    i {
      color: $redColor;
      float: right;
    }

  }

}

.publication-info {
  padding: rhythm(1) rhythm(1) rhythm(2) rhythm(1);
  border-bottom: 1px solid $darkGreyColor;
  margin-bottom: rhythm(4);
  background: $greyColor;
  font-size: rhythm(2);
  margin-top: -1px;

  .left, .right, .wide {
    @include span(12);
    @include container;
  }

  .meta-info {
    @include span(12);
  }

  .meta-label {
    padding-right: rhythm(1);
    display: inline-block;
    font-weight: bold;
  }

  .meta-content {
    display: inline-block;
  }

  .note {
    margin-top: rhythm(1);
  }

  .contributors {
    list-style: none;
    padding: 0;
    margin: 0;

    .label {
      font-weight: bold;
    }

    li {
      display: inline-block;

      &:after {
        content: '-';
        display: inline-block;
        padding-left: 0.25em;
        padding-right: 0.25em;
      }

      &:last-child:after {
        content: '';
        display: none;
        padding: 0;
      }

      .content:after {
        content: '/';
        display: inline-block;
        padding-left: 0.25em;
        padding-right: 0.25em;
      }

      .content:last-child:after {
        content: '';
        display: none;
        padding: 0;
      }

    }

  }

  h2 {
    @include span(12);
    font-size: rhythm(4);
    font-weight: bold;
  }

  .entry-items {

    h2 {
      margin-bottom: rhythm(2);
      font-size: rhythm(4);
    }

    table {
      border: 1px solid $mediumGreyColor;
    }

    th {
      font-weight: bold;
    }

    tr.not-available td:last-child {
      color: $redColor;
    }

    .item-location {
      margin-left: 1em;
      background-color: #ddd;
      border-radius: 0.2em;
      padding: 0 0.5em;
    }

  }

}

@include breakpoint($small){

  .single-publication {
    margin-top: rhythm(4);
    min-height: 11em;
    margin-bottom: 0;

    &.open {
      border-bottom: 3px solid $redColor;
    }

  }

  .publication-info {
    border: 1px solid $mediumGreyColor;
    padding: rhythm(4);
    margin-bottom: 0;

    .left {
      @include span(6);
    }

    .right {
      @include span(6 last);
    }

  }

}
