.single-publication {
  @include span(12 of 12);
  padding-bottom: rhythm(2);
  margin-bottom: rhythm(2);

  @include breakpoint($small){
     @include span(6 of 12);

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  @include breakpoint($medium){
     @include span(4 of 12);

    &:nth-child(2) {
      margin-right: 2.1%
    }

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  &.open {

      @include breakpoint($small){
        @include border-bottom;
        &:after {
          content: url("/images/btn-triangle-up.svg");
          position: absolute;
          bottom: 5px;
          left: 25%;
        }
      }

    @include breakpoint($medium){
      &:after {
        left: auto;
        margin-left: 40px;
      }
    }

  }


  h2 {
    margin: rhythm(1) 0;
  }

  p {
    margin-bottom: 0;
  }

  p.free {
    text-transform: uppercase;
  }

  button {
    margin-top: rhythm(4);
  }

  .show-status, .hide-status {
    color: $redColor;
    margin-top: rhythm(2);
    @include span(12 of 12);
    
    strong {
      @include span(8 of 12);
    }

    @include breakpoint($small){
        display: none;
    }
  }

  .show-status-arrow {
    @include span(1.5 of 12);
    margin: 0;

    float: right;
  }
}