.other-publications {

  .mediatype-group {
    border-top: 4px solid $blackColor;
    margin-top: rhythm(4);

    &:first-of-type {
      margin-top: 0;
    }

  }

  > header {

    h2 {
      font-size: rhythm(2.5);
    }

  }

}