.work-relations {

  &:first-of-type {
    margin-top: rhythm(2);
  }

  h2 {
    @include semiBoldFont;
    margin-bottom: 0;
    font-size: rhythm(2.5);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0;

    .content:after {
      content: '|';
      display: inline-block;
      padding-left: 0.25em;
      padding-right: 0.25em;
    }

    .content:last-child:after {
      content: '';
      display: none;
      padding: 0;
    }

  }

}