.work-information {
  font-size: rhythm(2);

  h1 {
    @include span(12);
    font-size: rhythm(4);
    margin: 0;
  }

  h2 {
    @include span(12);
    font-size: rhythm(3);
    margin: 0;
    font-weight: bold;
  }

  .meta-label {
    @include semiBoldFont;
  }

  .author {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
  }

  .contributors {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:after {
        content: '-';
        display: inline-block;
        padding-left: 0.25em;
        padding-right: 0.25em;
      }

      &:last-child:after {
        content: '';
        display: none;
        padding: 0;
      }

      .content:after {
        content: '/';
        display: inline-block;
        padding-left: 0.25em;
        padding-right: 0.25em;
      }

      .content:last-child:after {
        content: '';
        display: none;
        padding: 0;
      }

    }

    span:first-child {
      @include semiBoldFont;
    }

  }

  .work-excerpt {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
  }

  .additional-info {
    margin-bottom: rhythm(2);
  }

  .additional-info-toggle {
    padding: rhythm(1);
    width: 100%;
    display: block;
    text-align: center;
  }

}

@include breakpoint($small) {

  .work-information {
    font-size: rhythm(2.5);

    h1 {
      font-size: rhythm(5);
      font-weight: normal;
    }

    h2 {
      font-size: rhythm(4);
      font-weight: normal;
    }

    .author {
      font-weight: bold;
      font-size: rhythm(4);
      margin-bottom: rhythm(3);
    }

  }

}

@include breakpoint($medium) {

  .additional-info {
    margin-top: rhythm(5);

    .meta-item {
      margin-bottom: rhythm(2);
    }

    .meta-label {
      @include semiBoldFont;
    }

    .work-subjects, .work-genres {
      border-top: 1px solid $blackColor;
      margin-bottom: rhythm(2);
    }

    h2 {
      margin-top: rhythm(1);
    }

  }

}