/* normalize.css */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html { font-size: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; color: #222; }

/* responsive grid setup */
@media (min-width: 40rem) {
    html { font-size: 112%; }
    .column { float: left; padding-left: 1rem; padding-right: 1rem; }
    .column.full { width: 100%; }
    .column.half { width: 50%; }
    .column.fifth { width: 20%; }
    .column.two-fifths { width: 40%; }
    .column.three-fifths { width: 60%; }
    .column.flow-opposite { float: right; }
}
@media (min-width: 64rem) {
    html { font-size: 120%; }
    .column { float: left; padding-left: 1rem; padding-right: 1rem; }
}
.container { margin: auto; width: 80%; padding: 10px;}
.row:after { content: ""; display: table; clear: both; }

h1, h2, h3  { line-height: 1.2 }
fieldset    { border: 0; background: #eee; width: 90%;}
input       { width: 28em; padding: 3px; }
.authorized  { padding: 3px; }
input, .authorized { margin: 3px;}
label       { font-family: monospace; text-align: right; display: inline-block; }

#errors     { background: #F77F00; color: #fff; font-weight: bold; }
#errors p   { padding: 4px; }

#save-stat  { text-align: right; color: #888; margin: 0 4px; display: block; max-width: 600px;}
#save-stat:before  { content: "status: ";}

/* search results */
.search-result:hover { background-color: #aaa;}
.search-result-name { font-size: 100%;}
.search-result { margin-bottom: 10px; z-index: 1000;}
.search-result-info { font-size: 90%; padding-left: 2em;}
.search-result-work { font-size: 90%; padding-left: 2em;}
.search-result-work-list { padding-left: 2em;}
.search-result-more-info { font-size: 90%;}
/* search result box */
.prop-search-results { position: relative; background: #c0d2d5; border: 2px solid #c2e1f5; padding-left: 1em;}
/* search looking glass */
.searchable { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAIVBMVEW/v7+/v78AAAC/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v79QUkolAAAAC3RSTlOLYAAJeoMjRhpOcbsbtd4AAABJSURBVHjaVc1JDsAgDATB9uAF8v8Hx0QcSN9KssZI5eClDj18PRsFlmlQDcfUGd6A3EgYP1xncQ+sa5qYOk9jRQt1Y0izhU5bL2o2AW3ZQKeJAAAAAElFTkSuQmCC) 10px 6px no-repeat; }
.deletable { background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle fill="darkred" stroke="red" cx="50" cy="50" r="40" stroke-width="4" /><g stroke="white" fill="none"><line x1="30" y1="30" x2="70" y2="70" stroke-width="6" stroke-linecap="round" /><line x1="30" y1="70" x2="70" y2="30" stroke-width="6" stroke-linecap="round" /></g></svg>');
    background-repeat: no-repeat; background-color: #c0d2d5; background-position:right top; cursor: pointer; }

/* inputs */
.prop-input   { clear:both; width: 10em;}
.prop-details { text-align: right;}
button.prop-add { float: left;}
.prop-values  { padding-left: 1em;}
.link   { display:inline-block; width: 10px; height:10px; background-image: linear-gradient(transparent,transparent),url('data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%3F><svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"10"%20height%3D"10"><g%20transform%3D"translate%28-826.429%20-698.791%29"><rect%20width%3D"5.982"%20height%3D"5.982"%20x%3D"826.929"%20y%3D"702.309"%20fill%3D"%23fff"%20stroke%3D"%2306c"%2F><g><path%20d%3D"M831.194%20698.791h5.234v5.391l-1.571%201.545-1.31-1.31-2.725%202.725-2.689-2.689%202.808-2.808-1.311-1.311z"%20fill%3D"%2306f"%2F><path%20d%3D"M835.424%20699.795l.022%204.885-1.817-1.817-2.881%202.881-1.228-1.228%202.881-2.881-1.851-1.851z"%20fill%3D"%23fff"%2F><%2Fg><%2Fg><%2Fsvg>'); }
.invalid-input { border: 1px solid #F77F00;}
.invalid-msg   { color: #F77F00; font-size: 12px;}
