.black-btn {
  @include semiBoldFont;
  background: $blackColor;
  padding-bottom: 0.5em;
  padding: rhythm(2);
  padding-top: 0.5em;
  border-radius: 2px;
  font-size: 1em;
  color: $white;

  &:hover, &:active, &:focus {
    background: $darkGreyColor;
    cursor: pointer;
  }

  &:disabled {
    background: $mediumGreyColor;
  }

  a, a:hover {
    text-decoration: none;
    color: $white;
  }

}