.black-btn {
  padding: rhythm(2);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: $blackColor;
  color: $white;
  @include semiBoldFont;
  font-size: 1em;
  border-radius: 2px;

  &:hover {
    background: $darkGreyColor;
  }

  a, a:hover {
    text-decoration: none;
    color: $white;
  }


}