.red-btn {
  @include semiBoldFont;
  padding-bottom: 0.5em;
  background: $redColor;
  padding: rhythm(2);
  border-radius: 2px;
  font-size: 1em;
  color: $white;

  &:hover, &:active, &:focus {
    background: $darkGreyColor;
    cursor: pointer;
  }

  &:disabled {
    background: $redGreyColor;
  }

  a, a:hover {
    text-decoration: none;
  }

  .btn-icon {
    position: relative;
    margin-left: 17px;

    i {
      font-size: 1.8em;
      position: absolute;
      right: 65px;
      top: -7px;
    }
  }
}