.white-btn-checkmark {
  padding: rhythm(1); // make space for border
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  @include border;
  @include semiBoldFont;
  font-size: 1em;
  border-radius: 2px;
  margin: rhythm(3);

  a, a:hover {
    text-decoration: none;
    color: $white;
  }

  &:before {
    content: url("/images/icon-plus.svg");
    margin-right: rhythm(1);
  }

}