.entry-content-icon-single {
  display: inline-block;
  color: $blackColor;
  padding-right: 1em;
  text-transform: uppercase;
  font-weight: bold;
  
  img {
    float: left;
    max-width: 0.8em;
    margin-right: 0.25em;
  }

  span {
    float: left;
    line-height: 1em;
  }

}