@for $i from 1 through (length($fonts) - 1) {

  $hx: h#{$i};
  $size: fontSize($hx);
  #{$hx}, .#{nth($greek-alphabet, $i)} {
    font-family: fontFamily($hx);
    font-weight: fontWeight($hx);
    font-style: fontStyle($hx);
    @include adjust-font-size-to($to-size: $size);
    @include trailer(3, $size);
  }

  @include breakpoint($medium) {

    $size: fontSize($hx, desktop);
    #{$hx}, .#{nth($greek-alphabet, $i)} {
      @include adjust-font-size-to($to-size: $size);
      @include trailer(4, $size);
    }
  }
}