a {
  color: color(link);
  text-decoration: none;
  &:hover, &:active {
    text-decoration: underline;
    color: color(link-hover);
  }
  &:focus, &:active {}
}

.primary-menu {
  a {
    color: $blackColor;
  }
}

.secondary-menu {
  a {
    color: $white;
  }
}