// Vertical Rythm
// ==========================================================================
$base-font-size: 16px;
$base-line-height: 6px;
@include establish-baseline;

@include border-box-sizing;
$legacy-support-for-ie: true;
$legacy-support-for-ie6: $legacy-support-for-ie;
$legacy-support-for-ie7: $legacy-support-for-ie;

$round-to-nearest-half-line: false;
$experimental-support-for-svg: true;

$grid-background-baseline-color: rgba(red, .8);
$grid-background-baseline-height: $base-line-height;

$numberOfColumnsWide: 12;
$numberOfColumnsNarrow: 4;
$numberOfColumnsSmall: 2;

$susy: (
    columns: $numberOfColumnsWide,
    //gutters: 1/3,
    //debug: (image: show)
);

// Breakpoints (http://css-tricks.com/snippets/css/media-queries-for-standard-devices/)
// ==========================================================================

//$breakpoint-to-ems: true;

//mobile
$lt-small: max-width 667px;

//tablet
$small: min-width 668px;
$lt-medium: max-width 991px;

//desktop
$medium: min-width 992px;
$lt-large: max-width 1279px;

//high res
$large: min-width 1280px;
$lt-xlarge: max-width 1439px;

$xlarge: min-width 1440px;

// Variables
// ==========================================================================

//COLORS
$redColor: #D63814 !default;
$redGreyColor: #916359 !default;
$blackColor: #212121 !default;
$greyColor: #F7F7F7 !default;
$mediumGreyColor: #CACACA !default;
$darkGreyColor: #767676 !default;
$white: #FFF !default;
$green: #0E8A17 !default;

$colors: (
        body: $white,
        body-bg: $white,
        link: $redColor,
        link-hover: $redColor,
        icon: #000,
        icon-hover: lighten(#000, 20%)
) !global;

//FONTS

$fonts: (
        h1: (
                family: #{'open-sans', Arial, sans-serif},
                weight: bold,
                style: normal,
                mobile-size: 26px,
                desktop-size: 24px
        ),
        h2: (
                family: #{ 'open-sans', Arial, sans-serif},
                weight: normal,
                style: normal,
                mobile-size: 24px,
                desktop-size: 18px
        ),
        h3: (
                family: #{ 'open-sans', Arial, sans-serif},
                weight: normal,
                style: normal,
                mobile-size: 18px,
                desktop-size: 22px
        ),
        h4: (
                family: #{ 'open-sans', Arial, sans-serif},
                weight: normal,
                style: normal,
                mobile-size: 16px,
                desktop-size: 18px
        ),
        default: (
                family: #{ 'open-sans', Arial, sans-serif},
                weight: normal,
                style: normal,
                italic-family: null,
                mobile-size: 16px,
                desktop-size: 16px
        ),

) !global;

$greek-alphabet: (alpha, beta, gamma, delta, epsilon, zeta) !global; //http://en.wikipedia.org/wiki/Greek_alphabet