input[type="checkbox"] {
  display:none;
  + label {
    position: relative;
    cursor: pointer;
    i {
      display: none;
      &.checkbox-unchecked {
        display: block;
      }
    }
  }
  &:checked {
    +label {
      i {
        &.checkbox-checked {
          display: block;
        }
        &.checkbox-unchecked {
          display: none;
        }
      }
    }
  }
}