.select-container {
  overflow: hidden;
  background: url(/images/btn-search-sorting.svg) no-repeat right $white;
  background-position: 95%;
  border: 1px solid $blackColor;

  select {
    background: transparent;
    width: 100%;
    padding: 0 0 0 5px;
    height: 34px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}