@font-face {
  font-family: 'digibib';
  src: url('/fonts/digibib/digibib.eot?60794899');
  src: url('/fonts/digibib/digibib.eot?60794899#iefix') format('embedded-opentype'),
       url('/fonts/digibib/digibib.woff2?60794899') format('woff2'),
       url('/fonts/digibib/digibib.woff?60794899') format('woff'),
       url('/fonts/digibib/digibib.ttf?60794899') format('truetype'),
       url('/fonts/digibib.svg?60794899#digibib') format('svg');
  font-weight: normal;
  font-style: normal;
}