// Poppins Regular (400) / Semi-Bold (600) / Bold (700)

@font-face {
  font-family: 'poppins-bold';
  src: url('/fonts/poppins-bold-webfont.eot');
  src: url('/fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-bold-webfont.woff2') format('woff2'),
  url('/fonts/poppins-bold-webfont.woff') format('woff'),
  url('/fonts/poppins-bold-webfont.ttf') format('truetype'),
  url('/fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'poppins-light';
  src: url('/fonts/poppins-light-webfont.eot');
  src: url('/fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-light-webfont.woff2') format('woff2'),
  url('/fonts/poppins-light-webfont.woff') format('woff'),
  url('/fonts/poppins-light-webfont.ttf') format('truetype'),
  url('/fonts/poppins-light-webfont.svg#poppinslight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'poppins-medium';
  src: url('/fonts/poppins-medium-webfont.eot');
  src: url('/fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-medium-webfont.woff2') format('woff2'),
  url('/fonts/poppins-medium-webfont.woff') format('woff'),
  url('/fonts/poppins-medium-webfont.ttf') format('truetype'),
  url('/fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'poppins-regular';
  src: url('/fonts/poppins-regular-webfont.eot');
  src: url('/fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-regular-webfont.woff2') format('woff2'),
  url('/fonts/poppins-regular-webfont.woff') format('woff'),
  url('/fonts/poppins-regular-webfont.ttf') format('truetype'),
  url('/fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'poppins-semibold';
  src: url('/fonts/poppins-semibold-webfont.eot');
  src: url('/fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/poppins-semibold-webfont.woff2') format('woff2'),
  url('/fonts/poppins-semibold-webfont.woff') format('woff'),
  url('/fonts/poppins-semibold-webfont.ttf') format('truetype'),
  url('/fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

