@mixin font-face($family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("/fonts/#{$family}/#{$file-name}.eot");
    src: url("/fonts/#{$family}/#{$file-name}.eot?#iefix") format("embedded-opentype"),
         url("/fonts/#{$family}/#{$file-name}.woff") format("woff"),
         url("/fonts/#{$family}/#{$file-name}.ttf") format("truetype"),
         url("/fonts/#{$family}/#{$file-name}.svg##{$family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face(open-sans, regular); // 400
@include font-face(open-sans, semibold, 600);
@include font-face(open-sans, bold, bold); // 700