.main-footer {
  @include container;
  padding-bottom: rhythm(2);
  background: $blackColor;
  line-height: 1.5em;
  color: $white;
  width: 100%;
}

.footer-content {
  @include wrapper-container;

  .footer-text {
    @include span(12);
  }

  .footer-right {
    @include span(12);
    @include container;
    margin-top: rhythm(2);
  }

  .feedback {
    @include span(10);

    a {
      color: $white;
    }

  }

  .footer-icon {
    @include span(2 last);
  }

}

 @include breakpoint($small) {

  .footer-content {

    .footer-text {
      @include span(6);
    }

    .footer-right {
      @include span(6 last);
      text-align: right;
    }

  }

}