// ORGANISM: Global Header
// ==========================================================================
header {
  @include container;
  @include border-bottom;

  .logo {
    @include span(5);
    padding: rhythm(2);
  }

  .primary-menu {
    @include span(7 last);
    padding: rhythm(1);
  }

  .mobile-menu-toggle {
    @include span(7 last);
    padding: rhythm(2);
  }

  .logged-in-message {
    @include span(12 first);
    padding: rhythm(2);
  }
}

@include breakpoint($small) {

  header {
    border-bottom: none;

    &.wrapper {
      padding-bottom: 0;
    }

  }

}

@include breakpoint($medium) {

    header {

      .logo {
        @include span(3);
      }

      .primary-menu {
        @include span(9 last);
      }

      .mobile-menu-toggle {
        @include span(9 last);
      }

      .logged-in-message {
        @include span(12 first);
      }

    }

}