// ORGANISM: Global Header
// ==========================================================================

.logo {
  @include span(5 of 12);
  margin-bottom: rhythm(2);
  margin-top: rhythm(4);

  @include breakpoint($medium){
    @include span(3 of 12);
  }

}

.primary-menu {
  display: none;

  @include span(8 of 12);
  float: right;
  text-align: right;

  li {
    display: inline-block;
    padding: rhythm(2);
  }

  @include breakpoint($medium){
    display: block;
  }
}


.btn-mobile {

  float: right;
  width: 45px;
  margin-top: rhythm(3);

  button {
    border: none;
  }

  @include breakpoint($medium){
    display: none;
  }
}