.modal-overlay {
  @include wrapper-container;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll;
}

.modal-content {
  @include span(10);
  @include push(1);
  margin-top: rhythm(5);
  border-radius: 0;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

.patron-placeholder {
  display: none !important
}

.single-publication {
  cursor: pointer;
}