.primary-menu {
  text-align: right;
  ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    padding: rhythm(2);
    span:last-child {
      display: none;
    }
    span:first-child {
      display: inline;
    }
  }
}

// MOBILE NAV
.btn-mobile-toggle {
  height: rhythm(4);
  width: rhythm(4);
  cursor: pointer;
  float: right;
}
.primary-mobile-menu {
  transition: max-height 0.5s;
  max-height: 250px;
  overflow: hidden;
  &.collapsed {
    max-height: 0;
  }
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      a {
        border-bottom: 1px solid $darkGreyColor;
        padding: rhythm(3) rhythm(6);
        text-decoration: none;
        color: $blackColor;
        display: block;
        &:hover {
          background-color: #767676;
          color: $white;
        }
      }
    }
    span:last-child {
      float: right;
    }
  }
}

// FOOTER MENU
.secondary-navigation {
  @include span(12);

  a, a:hover {
    color: $white;
  }

  span:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @include breakpoint($small) {
    text-align: right;
    float: right;
  }

  ul, li {
    margin-bottom: rhythm(3);
    list-style-type: none;

    @include breakpoint($small) {
      display: inline-block;
      margin: rhythm(3);

      &:last-child {
        margin-right: 0;
      }

    }

  }

}

//TAB BAR
.tab-bar {
  @include span(12);
  @include container;
  font-size: rhythm(2.5);
  padding: 0;
  margin: 0;

  .tab-bar-tab {
    display: inline-block;
    float: left;
    &:not(.tab-bar-tab-active) a {
      cursor: pointer;
    }
  }

  li {
    list-style: none;

    &.tab-bar-tab-active {
      a {
        border-bottom: 2px solid $blackColor;
        color: $blackColor;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 0;
      }
    }

  }
  a {
    border-bottom: 1px solid $greyColor;
    margin-bottom: 1px;
    display: inline-block;
    padding: 0.5em;
    text-align: center;

    &:hover, &:active, &:focus {
      border-bottom: 2px solid $blackColor;
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 0;
    }
    &::after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
    }
  }

}
