.primary-menu {
  text-align: right;
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    padding: rhythm(2);
    span:last-child {
      display: none;
    }
  }
}

// MOBILE NAV
.btn-mobile-toggle {
  float: right;
  height: rhythm(4);
  width: rhythm(4);
  cursor: pointer;
}
.primary-mobile-menu {
  transition: max-height 0.5s;
  max-height: 250px;
  overflow: hidden;
  &.collapsed {
    max-height: 0;
  }
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      a {
        padding: rhythm(3) rhythm(6);
        border-bottom: 1px solid $darkGreyColor;
        display: block;
        color: $blackColor;
        text-decoration: none;
        &:hover {
          background-color: #767676;
          color: $white;
        }
      }
    }
    span:last-child {
      float:right;
    }
  }
}

// FOOTER MENU
.secondary-navigation {
  @include span(12 of 12);

  @include breakpoint($small) {
    @include span(11 of 12);
    float: right;
    text-align: right;
  }

  ul, li {
    list-style-type: none;
    margin-bottom: rhythm(3);

    @include breakpoint($small) {
      display: inline-block;
      margin: rhythm(3);
    }
  }
}

//TAB BAR
.tab-bar {
  @include span(12);
  @include container;
  margin: 0;
  padding: 0;
  font-size: rhythm(2.5);

  .tab-bar-tab {
    float: left;
    display: inline-block;
  }

  li {
    list-style: none;

    &.tab-bar-tab-active {
      a {
        border-bottom: 2px solid $blackColor;
        margin-bottom: 0;
      }
    }

  }

  a {
    padding: 0.5em;
    display: block;
    margin-bottom: 1px;
    border-bottom: 1px solid $greyColor;

    &:hover, &:active, &:focus {
      border-bottom: 2px solid $blackColor;
      text-decoration: none;
      margin-bottom: 0;
      font-weight: bold;
    }

  }

}
