.primary-menu {
  text-align: right;
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    padding: rhythm(2);
    span:last-child {
      display: none;
    }
  }
}

// MOBILE NAV
.btn-mobile-toggle {
  float: right;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.primary-mobile-menu {
  transition: max-height 0.5s;
  max-height: 250px;
  overflow: hidden;
  &.collapsed {
    max-height: 0;
  }
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      a {
        padding: rhythm(3) rhythm(6);
        border-bottom: 1px solid $darkGreyColor;
        display: block;
        color: $blackColor;
        text-decoration: none;
        &:hover {
          background-color: #767676;
          color: $white;
        }
      }
    }
    span:last-child {
      float:right;
    }
  }
}

// FOOTER MENU
.secondary-navigation {
  @include span(12 of 12);

  @include breakpoint($small){
    @include span(11 of 12);
    float: right;
    text-align: right;
  }

  ul, li {
    list-style-type: none;
    margin-bottom: rhythm(3);

    @include breakpoint($small){
      display: inline-block;
      margin: rhythm(3);
    }
  }
}



//TAB BAR
.tab-bar, .tab-bar-secondary {
  list-style-type: none;
  @include span(12 of 12);
}

.tab-bar-tab-active, .tab-bar-tab-secondary-active {
  color: $redColor;
}


.tab-bar {
  margin-bottom: 0;
  padding: 0;
}

.tab-bar-tab {
  width: 100%;
  padding-bottom: rhythm(1);
  margin-bottom: rhythm(1);

  @include breakpoint($small){
    float: left;
    margin-right: rhythm(6);
    margin-bottom: 0;
    width: auto;
  }

}

.tab-bar-tab-active {
  @include border-bottom;
}

.tab-bar-secondary {
  margin: 0;
  padding: 0;
}

.tab-bar-tab-small {
  float: left;
  padding: rhythm(2);
  padding-left: 0;
  padding-top: 0;

}