body {
  font-family: fontFamily(default);
  font-size: $base-font-size;
  line-height: 1.5;
  font-weight: fontWeight(default);
  font-style: fontStyle(default);
  color: $blackColor;
  background-color: color(body-bg);
  margin: 0;
}