input[type="checkbox"] {
  display:none;
  +label {
    position: relative;
    max-width: 90%;
    cursor: pointer;
    h2 {
      max-width: 90%;
    }
    img {
      width:19px;
      height:19px;
      margin:-1px 4px 0 0;
      display: none;
      vertical-align: middle;
      &.checkbox-unchecked {
        display: inline-block;
      }
    }
  }
  &:checked {
    +label {
      img {
        &.checkbox-checked {
          display: inline-block;
        }
        &.checkbox-unchecked {
          display: none;
        }
      }
    }
  }
}