.hidden-mobile {
  @include breakpoint($lt-small){
    display: none;
  }
}

.hidden-tablet {
  @include breakpoint($small){
    display: none;
  }
  
  @include breakpoint($medium){
     display: block;
  }
  
}

.hidden-desktop {
  @include breakpoint($medium){
    display: none;
  }
}