/*
input[type="radio"] {
  display:none;
}
input[type="radio"] + label span:first-child {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(/images/checkbox-unchecked.png) left top no-repeat;
  cursor:pointer;
}
input[type="radio"]:checked + label span:first-child {
  background:url(/images/checkbox-checked.png) left top no-repeat;
}

input[type="radio"] + label {
  position: relative;
  max-width: 90%;

  h2 {
    max-width: 90%;
  }

}
*/
