.entry-content-icon {
  @include span(12 of 12);

  .entry-content-icon-single {
    img {
      max-width: 20px;
      float: left;
      margin-right: 0.5%;
    }

    p {
      float: left;
      text-transform: uppercase;
    }
  }
}