.entry-content-icon {
  @include span(10 of 12);

  .entry-content-icon-single {
    img {
      max-width: 20px;
      float: left;
      margin-right: 0.5%;
    }

    p {
      float: left !important;
      text-transform: uppercase;
      @include semiBoldFont;
      padding-right: 0.5em;
    }

    span {
      float: left;
    }

  }
}