<div class="content"
     decorator="clickOutsideSupportPanelDetector">
    <h2 data-automation-id="page-heading">{{>menuHeading}}</h2>

    <div class="grid-input">
        <ul class="grid-tabs">
            <li class="grid-tab pure-u">
                <input tabindex="-1"
                       type="radio"
                       name="tabs"
                       id="tab0"
                       {{#if openTab !== '1'}}checked{{/if}} />
                <label tabindex="1"
                       on-click="updateBrowserLocationWithTab:0"
                       on-enter="updateBrowserLocationWithTab:0"
                       for="tab0"
                       class="grid-tab-link">{{>newMaterial}}</label>
                <div id="tab-content0" class="tab-content grid-content">
                    <div class="inner-content">
                        <div class="grid-panel grid-panel-selected pure-g media-type-menu">
                            {{#each [
                                {workType: 'Literature', mediaType: 'Book', task: 'bookPub'},
                                {workType: 'Literature', mediaType: 'E-book', task: 'eBookPub'},
                                {workType: 'Literature', mediaType: 'Audiobook', task: 'aBookPub'},
                                {workType: 'Literature', mediaType: 'ComicBook', task: 'comicPub'},
                                {workType: 'Film', mediaType: 'Film', task: 'filmPub'},
                                {workType: 'Music', mediaType: 'MusicRecording', task: 'musRecPub'},
                                {workType: 'Music', mediaType: 'SheetMusic', task: 'sheetMusPub'},
                                {workType: 'Game', mediaType: 'Game', task: 'gamePub'},
                                {workType: 'Other', mediaType: 'LanguageCourse', task: 'langCourse'}
                            ]:index}}
                            <div class="pure-u-1-1">
                                <a class="pure-u-5-24 pure-button pure-button-primary" tabindex="{{index + 3}}" href="/cataloguing?template=workflow&hasWorkType={{workType}}&hasMediaType={{mediaType}}&task={{task}}&language={{applicationData.language || 'no'}}">{{applicationData.allLabels['http://data.deichman.no/mediaType#' + mediaType]}}</a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
            </li>
            <li class="grid-tab pure-u">
                <input tabindex="-1" type="radio" name="tabs" id="tab1" {{#if openTab === '1'}}checked{{/if}} />
                <label tabindex="2"
                       on-click="updateBrowserLocationWithTab:1"
                       on-enter="updateBrowserLocationWithTab:1"
                       for="tab1"
                       class="grid-tab-link">{{>authorityMaintenance}}</label>
                <div id="tab-content1" class="tab-content grid-content maintenance-inputs">
                    <div class="pure-g" style="height: 0px;">
                        <div class="pure-u-1-2" id="left-dummy-panel"/>
                        <div class="pure-u-1-2" id="right-dummy-panel"/>
                    </div>
                    <div class="inner-content">
                        <div class="grid-panel grid-panel-selected pure-g">
                            {{#each applicationData.maintenanceInputs:inputIndex}}
                            {{>input {input:.}}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer">
        <div id="errors">{{#errors}}<p>{{.}}</p>{{/errors}}</div>
        <div id="save-stat">{{save_status}}</div>
    </div>
</div>
<span style="display: none">
 {{>delete-resource-dialog}}
</span>


