<div class="content"
     decorator="clickOutsideSupportPanelDetector">
    <h2 data-automation-id="page-heading">Katalogisering og vedlikehold av samlingen</h2>

    <div class="grid-input">
        <ul class="grid-tabs">
            <li class="grid-tab pure-u">
                <input type="radio" name="tabs" id="tab1" checked/>
                <label for="tab1" class="grid-tab-link">Nytt materiale</label>
                <div id="tab-content1" class="tab-content grid-content">
                    <div class="inner-content">
                        <div class="grid-panel grid-panel-selected pure-g media-type-menu">
                            <div class="pure-u-1-1">
                                <a class="pure-u-1-6 pure-button pure-button-primary" href="/cataloguing?template=workflow&mediatype=book">Bøker</a>
                            </div>
                            <div class="pure-u-1-1">
                                <a class="pure-u-1-6 pure-button pure-button-primary" href="/cataloguing?template=workflow&mediatype=film">Film</a>
                            </div>
                            <div class="pure-u-1-1">
                                <a class="pure-u-1-6 pure-button pure-button-primary" href="/cataloguing?template=workflow&mediatype=music">Musikk</a>
                            </div>
                            <div class="pure-u-1-1">
                                <a class="pure-u-1-6 pure-button pure-button-primary" href="/cataloguing?template=workflow&mediatype=game">Spill</a>
                            </div>
                        </div>
                    </div>
            </li>
            <li class="grid-tab pure-u">
                <input type="radio" name="tabs" id="tab2"/>
                <label for="tab2" class="grid-tab-link">Vedlikehold av autoriteter</label>
                <div id="tab-content2" class="tab-content grid-content">
                    <div class="pure-g" style="height: 0px;">
                        <div class="pure-u-1-2" id="left-dummy-panel"/>
                        <div class="pure-u-1-2" id="right-dummy-panel"/>
                    </div>
                    <div class="inner-content">
                        <div class="grid-panel grid-panel-selected pure-g">
                            {{#each applicationData.maintenanceInputs}}
                            {{>input}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

