<div class="content"
     data-automation-id="targetresources-uris"
     data-work-uri="{{targetUri.Work}}"
     data-publication-uri="{{targetUri.Publication}}"
     data-person-uri="{{targetUri.Person}}"
     as-setGlobalFlag="{inWorkflow}"
     as-clickOutsideSupportPanelDetector
     as-unload>
    <h2 data-automation-id="page-heading">{{>currentTaskDescription}}</h2>
    <h3 class="headline" data-automation-id="headline">
        <span id="headline_0"></span>
        <span id="headline_1"></span>
        <span id="headline_2"></span>
    </h3>


    <div class="grid-input">
        <div class="pure-g" style="height: 0px;">
            <div class="pure-u-1-2" id="left-dummy-panel"/>
            <div class="pure-u-1-2" id="right-dummy-panel"/>
        </div>
        <ul class="grid-tabs pure-g" id="workflow-tabs">
            {{#each inputGroups:groupIndex}}
                {{#if checkRequiredInputValueForShow(.)}}
                    <li class="grid-tab pure-u">
                        <a {{#if tabEnabled(tabSelected,domain)}}tabindex="0"{{else}}tabindex="-1"{{/if}} class="{{tabSelected ? 'grid-tab-link-selected' : ''}} grid-tab-link {{#tabEnabled(tabSelected,domain)}}{{else}}disabled{{/}}"
                           id="{{tabId}}-tab"
                           data-toggle="tab" role="tab"
                            on-click="{{#tabEnabled(tabSelected,domain)}}activateTab{{/}}"
                        on-enter="{{#tabEnabled(tabSelected,domain)}}activateTab{{/}}">{{>tabLabel}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
        <div class="grid-content tab-content">
            <div class="inner-content">
                {{#each inputGroups:groupIndex}}
                    {{#if checkRequiredInputValueForShow(.)}}
                        <div id="{{tabId}}" class="grid-panel {{tabSelected ? 'grid-panel-selected' : ''}} pure-g">
                            {{#if !toolMode}}
                            {{#each inputs:inputIndex}}
                            {{#visible}}
                            {{>input {input:.}}}
                            {{#if (type === 'input-boolean') && !(this.visible === false) && !resourceIsLoaded(showOnlyWhenEmpty) && (checkShouldInclude(.))}}
                                <span class="prop-input boolean-separator pure-u-1-2 {{(firstAndLastVisibleInputs[groupIndex].last === inputIndex) ? 'last-one':''}}">
                                    <span class="panel-part boolean-separator pure-u-1-1"> </span>
                                </span>
                            {{/if}}
                            {{/visible}}
                            {{/each}}
                            <div class="pure-u-1-1">
                            {{#nextStep}}
                                {{#if checkRequiredInputValueForShow(.)}}
                                    <div class="pure-g next-step">
                                        <div class="pure-u-1-2">
                                            <button
                                                    tabindex="{{tabSelected ? '0' : '-1'}}"
                                                    class="pure-button pure-button-primary next-step-button"
                                                    {{#if disabledUnless && checkDisabledNextStep(disabledUnless)}}disabled="disabled"
                                                    title="{{disabledUnless.disabledTooltip}}"{{/if}} on-click="nextStep:{{.}}">{{>buttonLabel}}
                                            </button>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/nextStep}}
                            {{#deleteResource}}
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <button
                                            tabindex="-1"
                                            class="pure-button pure-button-primary next-step-button"
                                            {{#if disabledUnless && checkDisabledNextStep(disabledUnless)}}disabled="disabled"
                                            title="{{disabledUnless.disabledTooltip}}"{{/if}} on-click="deleteResource:{{.}}">{{>buttonLabel}}
                                    </button>
                                </div>
                            </div>
                            {{/deleteResource}}
                            {{#enableSpecialInput}}
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <button
                                            tabindex="-1"
                                            class="pure-button pure-button-primary next-step-button"
                                            title="{{./buttonLabel}}"
                                            on-click="enableSpecialInput:{{./inputId}}">{{>buttonLabel}}
                                    </button>
                                </div>
                            </div>
                            {{/enableSpecialInput}}
                            {{#if rdfType === 'Work' && targetUri.Work}}
                                <div class="pure-g">
                                    <div class="pure-u-1-2">
                                        <button
                                                tabindex="-1"
                                                class="pure-button pure-button-primary next-step-button"
                                                title="{{./buttonLabel}}"
                                                on-click="editResource:{template:'edit_authority', descriptionKey: 'compareWork', inputsKeypath: 'applicationData.inputsForDomainType.Work'},{{targetUri.Work}}"
                                        >{{>extendedEdit}}</button>
                                    </div>
                                </div>
                            {{/if}}
                            </div>
                            {{/if}}
                                {{#if tools}}
                                    {{#each tools}}
                                        {{>template}}
                                    {{/each}}
                                {{/if}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            {{>links}}
        </div>
    </div>
</div>
<div class="footer">
    <div id="errors">{{#errors}}<p>{{.}}</p>{{/errors}}</div>
    <div id="save-stat">{{save_status}}</div>
</div>
<span style="display: none">
 {{>delete-publication-dialog}}
 {{>delete-work-dialog}}
 {{>delete-resource-dialog}}
 {{>confirm-enable-special-input-dialog}}
 {{>alert-existing-resource-dialog}}
 {{>additional-suggestions-dialog}}
 {{>alert-added-template-values-dialog}}
</span>
