<div class="content"
     data-automation-id="targetresources-uris"
     data-work-uri="{{targetUri.Work}}"
     data-publication-uri="{{targetUri.Publication}}"
     data-person-uri="{{targetUri.Person}}"
     as-clickOutsideSupportPanelDetector
     as-unload>
    <h2 data-automation-id="page-heading">{{currentTaskDescription}}</h2>
    <h3 class="headline" data-automation-id="headline">
        {{#each applicationData.headlineParts}}
        {{#headlinePart(.)}}
        {{#if value.length > 0}}
        <span class="{{#if styleClass}}{{styleClass}}{{/if}} {{#if ! postfix}}default-postfix{{/if}}" style="order: {{order || 0}}">{{prefix}}{{value}}{{postfix}}</span>
        {{/if}}
        {{/with}}
        {{/each}}
        </h3>

    <div class="grid-input">
        <div class="pure-g" style="height: 0px;">
            <div class="pure-u-1-2" id="left-dummy-panel"/>
            <div class="pure-u-1-2" id="right-dummy-panel"/>
        </div>
        <ul class="grid-tabs pure-g" id="workflow-tabs">
            {{#each inputGroups:groupIndex}}
                {{#if checkRequiredInputValueForShow(.)}}
                    <li class="grid-tab pure-u">
                        <a class="{{tabSelected ? 'grid-tab-link-selected' : ''}} grid-tab-link {{#tabEnabled(tabSelected,domain)}}{{else}}disabled{{/}}"
                           id="{{tabId}}-tab"
                           data-toggle="tab" role="tab" on-click="{{#tabEnabled(tabSelected,domain)}}activateTab{{/}}">{{tabLabel}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
        <div class="grid-content tab-content">
            <div class="inner-content">
                {{#each inputGroups:groupIndex}}
                    {{#if checkRequiredInputValueForShow(.)}}
                        <div id="{{tabId}}" class="grid-panel {{tabSelected ? 'grid-panel-selected' : ''}} pure-g">
                            {{#each inputs:inputIndex}}
                            {{#visible}}
                            {{>input}}
                            {{#if (type === 'input-boolean') && !(this.visible === false) && !resourceIsLoaded(showOnlyWhenEmpty) && (checkShouldInclude(.))}}
                                <span class="prop-input boolean-separator pure-u-1-2 {{(firstAndLastVisibleInputs[groupIndex].last === inputIndex) ? 'last-one':''}}">
                                    <span class="panel-part boolean-separator pure-u-1-1"> </span>
                                </span>
                            {{/if}}
                            {{/visible}}
                            {{/each}}
                            <div class="pure-u-1-1">
                            {{#nextStep}}
                                {{#if checkRequiredInputValueForShow(.)}}
                                    <div class="pure-g">
                                        <div class="pure-u-1-2">
                                            <button class="pure-button pure-button-primary next-step-button"
                                                    {{#if disabledUnless && checkDisabledNextStep(disabledUnless)}}disabled="disabled" title="{{disabledUnless.disabledTooltip}}"{{/if}} on-click="nextStep:{{.}}">{{buttonLabel}}
                                            </button>
                                        </div>
                                    </div>
                                {{/if}}
                            {{/nextStep}}
                            {{#deleteResource}}
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <button class="pure-button pure-button-primary next-step-button" tabindex="-1"
                                            {{#if disabledUnless && checkDisabledNextStep(disabledUnless)}}disabled="disabled" title="{{disabledUnless.disabledTooltip}}"{{/if}} on-click="deleteResource:{{.}}">{{buttonLabel}}
                                    </button>
                                </div>
                            </div>
                            {{/deleteResource}}
                            {{#enableSpecialInput}}
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <button class="pure-button pure-button-primary next-step-button"
                                            title="{{./buttonLabel}}" on-click="enableSpecialInput:{{./inputId}}">{{buttonLabel}}
                                    </button>
                                </div>
                            </div>
                            {{/enableSpecialInput}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
            <div class="pure-g links">
                {{#targetUri.Work}}
                <div class="pure-u-1">
                    <a data-automation-id="work_page_link" target="_blank"
                       href="{{'http://sok.deichman.no/work' + targetUri.Work.substring(targetUri.Work.lastIndexOf('/'))}}">Vis siden for verket</a>
                </div>
                <div class="pure-u-1">
                    <a data-automation-id="show_work_rdf" on-click="showRdf:{{targetUri.Work}}">Vis lenkede data i TURTLE-format for verket</a>
                </div>
                {{/}}
                {{#targetUri.Publication}}
                <div class="pure-u-1">
                    <a data-automation-id="biblio_record_link" target="_blank"
                       href="https://intra.deichman.no/cgi-bin/koha/catalogue/detail.pl?biblionumber={{publicationId()}}"
                       class="link">Vis utgivelsen i Koha</a>
                </div>
                <div class="pure-u-1">
                    <div class="pure-u-1">
                        <a data-automation-id="show_work_rdf" on-click="showReport:{{targetUri.Publication}}">Vis katalogiserte data for utgivelsen</a>
                    </div>
                </div>
                {{/}}
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div id="errors">{{#errors}}<p>{{.}}</p>{{/errors}}</div>
    <div id="save-stat">{{save_status}}</div>
</div>
<span style="display: none">
 {{>delete-publication-dialog}}
 {{>delete-work-dialog}}
 {{>confirm-enable-special-input-dialog}}
 {{>alert-existing-resource-dialog}}
 {{>additional-suggestions-dialog}}
</span>
