<VirtualHost *:80>

  DocumentRoot /var/www/kibana-3.1.0
  <Directory /var/www/kibana-3.1.0>
    Allow from all
    Options -Multiviews
  </Directory>

  LogLevel debug
  ErrorLog /var/log/apache2/kibana_error_log
  CustomLog /var/log/apache2/kibana_access_log combined

</VirtualHost>
